@use "src/utils/scss/media";

.search-bar-modal {
  text-align: center;
  position: relative;

  &__background {
    @include media.media-breakpoint(mobile) {
      justify-content: center;
      display: flex;
      position: absolute;
      top: -2.5vh;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgb(0 0 0 / 70%);
      z-index: 10;
    }
  }

  &__container {
    position: relative;

    @include media.media-breakpoint(mobile) {
      width: 100%;
      height: 40vh;
      background-color: #f5f5f5;
    }
  }

  &__input {
    border: solid 1px #d2dae2;
    height: 45px;
    width: 1068px;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.09px;
    padding-left: 20px;
    padding-right: 40px;

    @include media.media-breakpoint(mobile) {
      padding-left: 10px;
      margin-top: 18px;
      border: none;
      border-bottom: 1px solid #e1e1e1;
      width: 100%;
      height: 40px;
      font-size: 14px;
      background-color: #f5f5f5;
      line-height: 1.6;
      outline: none;
    }

    &::placeholder {
      color: #d2dae2;

      @include media.media-breakpoint(mobile) {
        color: #727272;
      }
    }
  }

  &__icon {
    position: absolute;
    height: 24px;
    right: 20px;
    top: 13px;
    z-index: 1;
    border: 0;
    background-color: #fff;
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      position: absolute;
      top: 27px;
      right: 9%;
    }
  }
}

.search-icon {
  height: 24px;
  z-index: 0;
  border: 0;
  background-color: #fff;

  @include media.media-breakpoint(mobile) {
    background-color: #f5f5f5;
    color: red;
  }
}

.input-container {
  background-color: #f5f5f5;

  @include media.media-breakpoint(mobile) {
    width: calc(100% - 40px);
    padding: 1px 4%;
    background-color: #f5f5f5;
    display: flex;
  }
}

.result {
  @include media.media-breakpoint(mobile) {
    padding: 0 5%;
  }
}
