.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 100dvh;
  background: #f8f8fa;

  &__content {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 0 22px 24px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  margin-top: auto;
  padding-top: 40px;

  &__updated {
    font-size: 12px;
    color: #cacaca;
    line-height: 1.6;
  }

  &__notice {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-size: 10px;
    color: #cacaca;
    line-height: 1.6;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
