@use "src/utils/scss/media" as media;

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Pretendard, sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.button {
  display: flex;
  min-width: 120px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #175c8e;
  color: #175c8e;
  font-family: Pretendard, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 160%;
  
    &:disabled {
      border: 1px solid #e1e1e1;
      color: #cacaca;
      cursor: not-allowed;
    }

  @include media.media-breakpoint(mobile) {
    display: flex;
    min-width: 86px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #175c8e;
  
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 160%;
  
    &:disabled {
      background-color: #e1e1e1;
      color: #000;
      cursor: not-allowed;
    }
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  
  &__input {
    min-width: 296px;
    height: 32px;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid #e1e1e1;;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;

    &::placeholder {
      color: #cacaca;
      font-size: 16px;
    }
  }

  &__optionButton {
    position: absolute;
    right: 12px;
    display: flex;
    background: none;
    cursor: pointer;
  }
  
  &__timer {  // 타이머랑 x 버튼 위치 고려 필요
    position: absolute;
    right: 40px;
    // right: 12px;
    display: flex;
    background: none;
    margin-top: 2px;
    color: #727272;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
  }

  @include media.media-breakpoint(mobile) { 
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  
    &__input {
      width: 100%;
      padding: 8px 64px 8px 4px;
      border: none;
      border-bottom: 1px solid #e1e1e1;
  
      font-size: 14px;
      font-weight: 400;
      line-height: 160%;
  
      &::placeholder {
        color: #cacaca;
        font-size: 14px;
      }
    }
  
    &__optionButton {
      position: absolute;
      right: 4px;
      display: flex;
      background: none;
      cursor: pointer;
    }
  
    &__timer {
      position: absolute;
      right: 26px;
      display: flex;
      background: none;
      margin-top: 2px;
  
      color: #727272;
      font-size: 14px;
      font-weight: 500;
      line-height: 160%;
    }
  }
}

.messageWrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;

  & > svg {
    display: flex;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  &__message {
    display: flex;
    margin-top: 1px;
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;

    &--error {
      color: #f64c4c;
    }

    &--success {
      color: #0c9d61;
    }

    &--warning {
      color: #f7941e;
    }
  }
}
