@import "src/utils/scss/media";

.list_section {
  width: 1131px;
  margin: 63px auto 0;

  @include media-breakpoint(mobile) {
    width: 100%;
    margin-top: 30px;
  }
}

.header {
  width: 100%;
  height: 32px;
  font-size: 30px;
  font-family: NanumSquare, serif;
  font-weight: 800;
  letter-spacing: -1.5px;
  color: #175c8e;
  text-align: left;
  margin-bottom: 19px;

  @include media-breakpoint(mobile) {
    display: none;
  }
}

.category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 142px;
  border-top: 2px #175c8e solid;
  border-bottom: 1px #175c8e solid;
  margin-bottom: 25px;

  @include media-breakpoint(mobile) {
    justify-content: center;
    width: calc(100% - 34px);
    padding: 10px 0 14px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  &__header {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    font-size: 15px;
    font-family: NanumSquare, serif;
    font-weight: 800;
    letter-spacing: -0.8px;
    width: 182px;

    @include media-breakpoint(mobile) {
      justify-content: flex-start;
      width: 100%;
      font-size: 15px;
      line-height: 1;
      height: 17px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include media-breakpoint(mobile) {
      width: 330px;
    }
  }

  &__menu {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: NanumBarunGothic, serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.2;
    height: 100%;
    width: 70px;
    color: #252525;
    margin-right: 35px;
    cursor: pointer;

    @media (min-width: 577px) {
      &:hover {
        color: #f7941e;
      }
    }

    @media (max-width: 576px) {
      letter-spacing: -0.8px;
      width: 64px;
      padding-top: 11px;
    }
  }

  &__image {
    width: 57px;
    height: 57px;
    border-width: 50%;
    margin: 0 auto 13px;

    @include media-breakpoint(mobile) {
      width: 50px;
      height: 50px;
    }
  }
}

.search_bar {
  text-align: center;
  position: relative;

  &__input {
    font-family: NanumBarunGothic, serif;
    border: solid 1px #d2dae2;
    height: 45px;
    width: 1068px;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.09px;
    padding-left: 20px;
    padding-right: 40px;

    @include media-breakpoint(mobile) {
      width: calc(100% - 95px);
    }

    &::placeholder {
      color: #d2dae2;
    }
  }

  &__icon {
    position: absolute;
    height: 24px;
    right: 11px;
    bottom: 10px;
    z-index: 1;

    @include media-breakpoint(mobile) {
      right: 25px;
      bottom: 10px;
    }
  }
}
