@import "src/utils/scss/media";

.styledinput {
  width: 390px;
  height: 45px;
  box-sizing: border-box;
  border: #d2dae2 1px solid;
  font-size: 15px;
  padding-left: 20px;
  margin-bottom: 12px;

  &::placeholder {
    font-size: 15px;
    letter-spacing: -0.8px;
    color: #bec9d5;
  }

  &:disabled {
    background-color: #e5eaf0;
    border: 1px solid #d2dae2;
    color: #b5c1cd;
  }

  @include media-breakpoint(mobile) {
    width: 320px;
    height: 36px;
    padding-left: 16px;

    &::placeholder {
      font-size: 14px;
    }
  }
}