.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 21;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 954px;
  height: auto;
  padding: 48px 36px 48px 43px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  background-color: #fff;

  &__title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: Pretendard, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
  }

  &__description {
    width: 100%;
    font-family: Pretendard, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-left: 63px;

    & > strong {
      font-weight: 700;
      line-height: 160%;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    gap: 65px;

    &-image {
      display: flex;
      width: 385px;
      margin-left: 8px;
    }

    &-description {
      display: flex;
      flex-direction: column;
      font-family: Pretendard, sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;

      &--thin {
        color: #727272;
        font-size: 15px;
      }

      &--bold {
        font-size: 16px;
        font-weight: 600;

        & > strong {
          color: #ec2d30;
        }
      }
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 65px;

    &--button {
      display: flex;
      width: 236px;
      padding: 6px 12px;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background: #175c8e;
      color: #fff;
      font-family: Pretendard, sans-serif;
      font-size: 22px;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;
    }
  }
}
