@use "src/utils/scss/media";

.container {
  position: relative;
}

.search-bar-container {
  width: 100%;
  margin-top: 20px;

  @include media.media-breakpoint(mobile) {
    margin-top: 0;
  }
}

.search-bar__input-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 1px 9px 1px rgb(0 0 0 / 6%);
  padding-inline: 12px 16px;
  gap: 8px;
  background-color: white;

  @include media.media-breakpoint(mobile) {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 0 16px;
    border: none;
    box-shadow: none;

    &--result-opened {
      border-radius: 8px 8px 0 0;
    }
  }
}

.search-bar {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 160%;
  padding: 12px 0;

  @include media.media-breakpoint(mobile) {
    background-color: #f5f5f5;
    font-size: 14px;
    padding: 12px 0;
  }

  &::placeholder {
    color: #727272;
  }
}

.result {
  @include media.media-breakpoint(mobile) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-top: none;
  }
}
