@use "src/utils/scss/media";

.search-bar-container {
  width: 100%;
  margin-top: 20px;

  @include media.media-breakpoint(mobile) {
    margin-top: 0;
  }
}

.search-bar__input-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 1px 9px 1px rgb(0 0 0 / 6%);
  padding-inline: 12px 16px;
  gap: 8px;
  background-color: white;

  @include media.media-breakpoint(mobile) {
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: none;
  }
}

.search-bar {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 160%;
  padding: 12px 0;

  @include media.media-breakpoint(mobile) {
    height: 40px;
    font-size: 14px;
    padding: 12px 0;
  }

  &::placeholder {
    color: #727272;
  }
}
