.wrapper {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
}

.input {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
}

.picker {
  position: absolute;
  top: 100%;
  left: -3%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  margin-top: 4px;
  z-index: 10;
  width: 240px;
}

.header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 8px;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  th {
    color: #999;
    font-size: 12px;
    padding: 4px;
  }

  td button {
    &.button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: none;
      background: none;
      font-size: 14px;
      color: #000;
    }

    &.inactive {
      color: #ccc !important;
    }

    &.sunday {
      color: red;
    }

    &.saturday {
      color: blue;
    }

    &.selected {
      background-color: #ff5a5f;
      color: white;
      font-weight: bold;
    }

    &:hover {
      background-color: #eee;
    }
  }
}

.date-picker-button {
  width: 250px;
  padding: 4px;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0 0 0 / 40%), 0 1px 1px rgba(0 0 0 / 10%);
  font-family: pretendard, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}
