@use "utils/scss/media.scss" as media;

.page {
  width: 1150px;
  margin: 80px auto 0;

  &__content {
    display: flex;
    gap: 16px;
  }

  &__title {
    display: flex;
    gap: 6px;
    width: 129px;
    height: 40px;
    margin-bottom: 40px;
    color: #175C8E;
    
    &--name {
      width: 83px;
      text-align: left;
      font-size: 31px;
      font-weight: 500;
      line-height: 38.19px;
      margin: 1px 0;
    }
  }

  &__filter {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 14px;
  }

  &__depart {
    width: 200px;
  }

  &__semester {
    width: 150px;
  }

  &__last-update {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: #888686;
    margin-top: 5px;

    &--info {
      margin-left: 4px;
    }
  }

  &__timetable-wrap {
    height: 560px;
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 12px 20px 12px 20px;
    width: 155px;
    height: 48px;
    background-color: #FAFAFA;
    font-family: Pretendard;
    font-weight: 500;
    font-size: 15.5px;
    line-height: 21.48px;
    color: #4B4B4B;
    cursor: pointer;

    &:hover {
      background-color: #EEEEEE;
    }

    &:active {
      background-color: #E1E1E1;
    }
  }
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid rgb(210 218 226);
  width: 322px;
  height: 42px;

  &__input {
    margin-right: 0;
    border: none;
    width: 249px;
    height: 32px;
    font-size: 15px;
    text-align: left;
    color: rgb(37 37 37);
    background-color: rgb(255 255 255);
    position: relative;

    &:focus {
      outline: none;
    }
  }

  &__button {
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
  }

  &__table {
    &--all {
      height: 459px;
    }

    &--selected {
      height: 177px;
    }
  }
}

.list {
  &__button {
    padding-left: 10px;
    line-height: 34px;
    cursor: pointer;
    border: 0;
    width: 22px;
    height: 34px;
    text-align: center;
    background-color: transparent;

    & > img {
      position: relative;
      top: 6px;
      right: 1px;
      width: 22px;
    }
  }
}

.dropdown-loading-spinner {
  margin: 1px auto;
  background-color: white;
  width: 50px;
  height: 50px;
}

.top-loading-spinner {
  margin: 208px auto;
  background-color: white;
  width: 100px;
  height: 100px;
}

.bottom-loading-spinner {
  margin: 100px auto;
  background-color: white;
  width: 100px;
  height: 100px;
}

.central-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.timetable-list {
  width: 331px;
  height: 763px;

  &__list {
    height: 699px;
    background-color: white;
    margin-top: 16px;
  }
}

.select {
  position: relative;
  display: inline-block;
  width: 260px;
  background-color: #fff;
  border-radius: 5px;
  
  &--opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 8px 32px 0px #00000014;
    box-shadow: 0px 2px 20px 0px #0000000A;
  }

  &__trigger {
    position: relative;
    width: 100%;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #EEEEEE;
    }

    &:active {
      background-color: #E1E1E1;
    }
  }

  &__curriculum-title {
    display: flex;
    gap: 8px;
    color: #4B4B4B;
    font-size: 15.5px;
    font-family: Pretendard;
    font-weight: 500;
    line-height: 21.48px;
  }

  &__curriculum-list {
    position: absolute;
    z-index: 5;
    box-shadow: 0px 8px 32px 0px #00000014;
    box-shadow: 0px 2px 20px 0px #0000000A;
    background-color: #FAFAFA;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__curriculum {
    width: 260px;
    height: 48px;
    box-sizing: border-box;
    background-color: #FAFAFA;
    cursor: pointer;
    font-family: Pretendard;
    font-size: 15.5px;
    font-weight: 500;
    line-height: 21.48px;
    color: #8E8E8E;

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    & > a {
      display: block;
      padding: 16px 24px 16px 24px;
    }
  
    &[aria-selected="true"] {
      color: #175C8E
    }

    &:hover {
      background-color: #EEEEEE;
      border-radius: 5px;
    }

    &:active {
      background-color: #E1E1E1;
    }
  }
}
