@use "src/utils/scss/media" as media;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1132px;
  margin: 64px auto 100px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    margin: 0;
  }
}

.container > header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  color: #175c8e;
  font-family: Pretendard, sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.mobile-title {
  font-family: Pretendard, sans-serif;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  width: 100%;

  &__text {
    padding: 8px 24px 16px;
  }
}

.sub-title {
  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 18px;
  line-height: 160%;
}
