.box {
  width: 640px;
  height: 140px;
  background-color: #f5f5f5;
  border-radius: 16px;
  margin-bottom: 60px;
  padding: 24px 42.5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 
    0 2px 4px rgba(0 0 0 / 4%),
    0 1px 1px rgba(0 0 0 / 2%);
}

.direction {
  width: 555px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
