.container {
  height: 99px;

  &--searching {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.notice {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: flex-end;

  &__description {
    display: flex;
    align-items: center;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    color: #8e8e8e;
  }
}

.removable-notice {
  height: 58px;
  padding: 0 24px;
  border-radius: 8px;
  background-color: #f1f8ff;
  display: flex;
  align-items: center;
  box-shadow:
    0 2px 4px rgba(0 0 0 / 4%),
    0 1px 1px rgba(0 0 0 / 2%);

  &__description {
    margin: 0 8px;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #175c8e;
  }
}
