.header {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background: #fff;

  &__avatar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #cacaca;
    width: 45px;
    height: 45px;
    border-radius: 300px;
    background: #fff;

    svg {
      width: 28px;
      height: 28px;
    }
  }

  &__body {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: 4px;
    min-width: 0;
  }

  &__nameRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  &__name {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }

  &__status {
    font-weight: 500;
    font-size: 10px;
    line-height: 160%;

    &--pending {
      color: #727272;
    }

    &--accepted {
      color: #980ac9;
    }

    &--rejected {
      color: #ec2d30;
    }
  }

  &__meta {
    margin: 0;
    color: #727272;
    font-size: 11px;
    line-height: 160%;
  }

  &__role {
    color: #b611f5;
  }
}
