.button {
  margin: 0;
  width: inherit;
  height: inherit;
  background: white;

  &::before {
    content: "";
    align-items: center;
    text-align: center;
    width: inherit;
    height: inherit;
    display: block;
    position: absolute;
    border-radius: 30px;
    background-color: #E1E1E1;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 33%;
    height: 66%;
    top: 17%;
    left: 8%;
    border-radius: 50%;
    background: #FFFFFF;
    transition: all 0.2s ease-in;
  }

  &:checked {
  
    &::before {
      background-color: #175C8E;
    }
  
    &::after {
      background-color: white;
      left: 59%;
    }
  }
}