.label {
  position: relative;
  width: 100%;

  &__title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }

  &__description {
    margin-top: 4px;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
  }
}

.etc-description {
  position: absolute;
  right: 0;
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 400;

  &--disable {
    color: #f7941e;
  }
}
