@use "src/utils/scss/media";

.background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 70%);
  z-index: 21;
  font-family: NanumBarunGothic, sans-serif;
}

.container {
  width: 427px;
  height: 196px;
  box-shadow: 0 8px 32px 0 #00000014;
  border-radius: 10px;
  background-color: #fff;

  @include media.media-breakpoint(mobile) {
    width: 342px;
    height: 226px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 16px;
    font-size: 20px;
    font-weight: 700;

    @include media.media-breakpoint(mobile) {
      padding: 24px 24px 8px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }

  &__close-button {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  &__caption {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    height: 26px;

    &--error {
      padding: 8px 24px;
    }

    @include media.media-breakpoint(mobile) {
      padding: 8px 24px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
  }

  &__input {
    display: flex;
    align-items: center;
    position: relative;

    @include media.media-breakpoint(mobile) {
      flex-direction: column;
    }
  }

  &__check-button {
    width: 80px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #8e8e8e;
    padding: 12px;
    background-color: #fff;
    color: #4b4b4b;
    font-weight: 500;
    line-height: 25.6px;
    margin-left: 8px;
    cursor: pointer;

    &--error {
      background-color: #e1e1e1;
      color: #4b4b4b;
      border: none;
    }

    @include media.media-breakpoint(mobile) {
      width: 290px;
      height: 42px;
      margin-top: 8px;
      margin-left: 0;
      padding: 8px;
    }
  }

  &__password-input {
    width: 263px;
    height: 26px;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    background-color: #f5f5f5;

    &:focus {
      outline: 1px solid #4590bb;
    }

    &:focus ~ .container__check-button {
      background-color: #175c8e;
      color: #fff;
    }

    &--error {
      outline: 1px solid #f7941e;

      &:focus {
        outline: 1px solid #4590bb;
      }
    }

    @include media.media-breakpoint(mobile) {
      height: 20px;
    }
  }

  &__blind-button {
    position: absolute;
    right: 103px;
    top: 30%;
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;

    @include media.media-breakpoint(mobile) {
      right: 12px;
      top: 13px;
    }
  }

  &__error-message {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 400;
    color: #f7941e;
    margin-top: 8px;
    gap: 4px;
  }

  &__mobile-error-message {
    display: flex;
    align-items: center;
    width: 100%;
    color: #f7941e;
    gap: 4px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 400;
  }
}
