@use "src/utils/scss/media" as media;

.container {
  min-height: calc(100vh - 60px);
  padding-top: 64px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    padding-top: 0;
    background-color: #fff;
  }
}

.wrapper {
  width: 1136px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 76px;
  gap: 8px;

  @include media.media-breakpoint(mobile) {
    width: calc(100% - 48px);
    padding: 32px 24px 12px;
    margin-bottom: 0;
    gap: 0;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    color: #175c8e;
    line-height: 1.2;

    @include media.media-breakpoint(mobile) {
      color: #000;
      font-size: 18px;
      line-height: 1.6;
      display: flex;
      gap: 8px;
    }
  }

  &__info-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    font-size: 18px;
    line-height: 1.6;
    color: #666;

    @include media.media-breakpoint(mobile) {
      font-size: 12px;
      line-height: 1.6;
      color: #727272;
    }
  }

  &__info {
    font-size: 14px;

    > span {
      color: #f00;
    }

    @include media.media-breakpoint(mobile) {
      font-size: 11px;
      line-height: 1.6;
    }
  }
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 53px;

  @include media.media-breakpoint(mobile) {
    gap: 24px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;

  @include media.media-breakpoint(mobile) {
    flex-direction: column;
    align-items: end;
    gap: 40px;
    margin: 16px 0;
    padding: 0 24px;
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 4px;
    border-radius: 8px;
    background-color: #e4f2ff;
    color: #10477a;
    font-size: 18px;
    font-weight: 500;
    box-shadow:
      0 1px 4px rgba(0 0 0 / 4%),
      0 4px 10px rgba(0 0 0 / 8%);

    @include media.media-breakpoint(mobile) {
      height: 40px;
      font-size: 14px;
    }
  }

  &__group {
    display: flex;
    gap: 24px;
    margin-left: auto;

    @include media.media-breakpoint(mobile) {
      width: 100%;
    }
  }

  &__button {
    width: 240px;
    height: 53px;
    border-radius: 8px;
    background-color: #175c8e;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    box-shadow:
      0 1px 4px rgba(0 0 0 / 4%),
      0 4px 10px rgba(0 0 0 / 8%);

    @include media.media-breakpoint(mobile) {
      width: 100%;
      height: 44px;
      font-size: 14px;
    }

    &--cancel {
      background-color: #fff;
      color: #175c8e;
      border: 1px solid #e1e1e1;
    }
  }
}
