@use "utils/scss/media.scss" as media;

.course-table {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 16px;
  background-color: #fff;
  padding: 12px 17px;
  gap: 16px;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 308px;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;

  &__table {
    display: flex;
    height: 244px;
  }

  &__trigger {
    display: flex;
    width: 100%;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 16px;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #e1e1e1;
    }
  }
}

.tooltip {
  position: absolute;
  top: -74px;
  right: -8px;
  background-color: #fafafa;
  width: 144px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 4px 0 rgba(0 0 0 / 4%), 0 4px 10px 0 rgba(0 0 0 / 8%);
  z-index: 21;

  &__content {
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #4b4b4b;
    white-space: nowrap;
  }

  &__asset {
    position: absolute;
    bottom: -14px;
    right: 80px;
    margin: 0 auto;
  }
}
