@use "src/utils/scss/media";

.search_bar {
  text-align: center;
  position: relative;

  @include media.media-breakpoint(mobile) {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &__input {
    border: solid 1px #d2dae2;
    height: 45px;
    width: 98%;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.09px;
    padding-left: 20px;
    padding-right: 40px;

    @include media.media-breakpoint(mobile) {
      width: calc(100% - 40px);
      height: 40px;
      border: none;
      border-radius: 8px;
      background-color: #f5f5f5;
      line-height: 1.6;
      letter-spacing: -0.09px;
      padding-left: 16px;
      padding-right: 40px;
      color: #727272;
      font-size: 14px;
      display: flex;
      align-items: center;
    }

    &::placeholder {
      color: #d2dae2;

      @include media.media-breakpoint(mobile) {
        color: #727272;
      }
    }
  }

  &__icon {
    position: absolute;
    height: 24px;
    right: 20px;
    top: 13px;
    z-index: 1;
    border: 0;
    background-color: #fff;
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      top: 9px;
      right: 33px;
      bottom: 8px;
    }
  }
}

.search-icon {
  height: 24px;
  z-index: 0;
  border: 0;
  background-color: #fff;

  @include media.media-breakpoint(mobile) {
    background-color: #f5f5f5;
    color: red;
  }
}
