@use 'src/utils/scss/media' as media;
@use 'src/components/Articles/utils/scss/lostItemsGrid' as grid;

.lostItemList {
  width: 100%;

  &__row,
  &__rowDisabled {
    display: grid;
    grid-template-columns: grid.$lost-items-columns;
    height: 68px;
    align-items: center;
    border-bottom: 1px solid #d2dae2;
    text-decoration: none;
    background: transparent;
  }

  &__row {
    cursor: pointer;

    &:hover {
      background: #f8fafb;
    }
  }

  &__rowDisabled {
    cursor: pointer;
    width: 100%;
    text-align: left;

    &:hover {
      background: #f8fafb;
    }

    @include media.media-breakpoint(mobile) {
      border: none;
      padding: 12px 24px;
    }
  }

  &__type,
  &__title,
  &__author,
  &__date,
  &__status {
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__type {
    color: #252525;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__title {
    justify-content: flex-start;
    overflow: hidden;
    padding: 0 12px;
    color: #252525;

    @include media.media-breakpoint(mobile) {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      display: block;
      padding: 0;
    }
  }

  &__titleMeta {
    min-width: 0;
    display: flex;
    gap: 12px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
  }

  &__badge {
    padding: 4px 12px;
    background-color: #175c8e;
    color: #fff;
    border-radius: 999px;
    font-weight: 500;
    flex: 0 0 auto;
    font-size: 14px;

    @include media.media-breakpoint(mobile) {
      padding: 4px 8px;
    }
  }

  &__place {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
  }

  &__foundDate {
    flex: 0 0 auto;
    overflow: visible;
  }

  &__newIcon {
    flex: 0 0 auto;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__author {
    color: #175c8e;
    overflow: hidden;

    @include media.media-breakpoint(mobile) {
      font-size: 13px;
      color: #a1a1a1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__date {
    color: #727272;

    @include media.media-breakpoint(mobile) {
      font-size: 13px;
      color: #a1a1a1;
      float: right;
      height: 50%;
    }
  }

  &__status {
    color: #252525;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__reportedText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__chip {
    display: flex;
    justify-content: center;

    @include media.media-breakpoint(mobile) {
      justify-content: none;
    }
  }

  .lostItemListMobile {
    font-size: 12px;

    &__row,
    &__rowDisabled {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 100%;
      padding: 12px 24px;
      box-sizing: border-box;
    }

    &__rowDisabled {
      background: #fff;
      border: 0;
      text-align: left;
    }

    &__type {
      text-align: left;
      flex-shrink: 0;
      white-space: nowrap;
      color: #175c8e;
      font-weight: 600;
      font-size: 12px;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__titleMeta {
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 14px;
      flex: 1;
      min-width: 0;
    }

    &__badge {
      padding: 4px 8px;
      background-color: #175c8e;
      color: #fff;
      border-radius: 999px;
      font-weight: 500;
      align-content: center;
      flex: 0 0 auto;
    }

    &__content {
      max-width: 282px;
      min-height: 20;
      font-size: 12px;
      line-height: 160%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__place {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__foundDate {
      flex: 0 0 auto;
      white-space: nowrap;
    }

    &__writeMeta {
      display: flex;
      gap: 2px;
    }

    &__author,
    &__dot,
    &__date {
      color: #727272;
      font-size: 12px;
    }
  }
}
