@use 'src/utils/scss/media' as media;
@use 'src/components/Articles/utils/scss/lostItemsGrid' as grid;

.lostItemList {
  width: 100%;

  &__row,
  &__rowDisabled {
    display: grid;
    grid-template-columns: grid.$lost-items-columns;
    height: 68px;
    align-items: center;

    border-bottom: 1px solid #d2dae2;
    text-decoration: none;
    background: transparent;

    @include media.media-breakpoint(mobile) {
      width: 100%;
      height: 75px;
      display: block;
      border-bottom: 1px solid #ececec;
      box-sizing: border-box;
      padding: 16px 16px 14.5px;
    }
  }

  &__row {
    cursor: pointer;

    &:hover {
      background: #f8fafb;
    }
  }

  &__rowDisabled {
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;

    &:hover {
      background: #f8fafb;
    }
  }

  &__type,
  &__title,
  &__author,
  &__date,
  &__status {
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  &__type {
    color: #252525;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__title {
    justify-content: flex-start;
    overflow: hidden;
    padding-right: 10px;
    color: #252525;

    @include media.media-breakpoint(mobile) {
      width: 100%;
      height: 50%;
      box-sizing: border-box;
      display: block !important;
    }
  }

  &__titleMeta {
    min-width: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
  }

  &__badge {
    padding: 4px 12px;
    background-color: #175c8e;
    color: #fff;
    border-radius: 999px;
    font-weight: 500;
    flex: 0 0 auto;
    font-size: 14px;
  }

  &__place,
  &__foundDate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__foundDate::before {
    content: '| ';
  }

  &__newIcon {
    flex: 0 0 auto;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__author {
    color: #175c8e;

    overflow: hidden;

    @include media.media-breakpoint(mobile) {
      display: inline;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.54;
      letter-spacing: -0.7px;
      color: #a1a1a1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__date {
    color: #727272;

    @include media.media-breakpoint(mobile) {
      display: inline;
      font-size: 13px;
      line-height: 1.54;
      letter-spacing: -0.7px;
      color: #a1a1a1;
      float: right;
      height: 50%;
    }
  }

  &__status {
    color: #252525;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__reportedText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
