$check-icon-path: "../../../../../assets/svg/check-icon.svg";
$white-check-icon-path: "../../../../../assets/svg/white-check-icon.svg";

@mixin svg-background($svg-path) {
  background-image: url($svg-path);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.terms-checkbox.label {
  position: relative;
}

.terms-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #8e8e8e;
  cursor: pointer;
  margin: 0;
  appearance: none;

  @include svg-background($check-icon-path);

  &:checked {
    background-color: #f7941e;
    border: none;

    @include svg-background($white-check-icon-path);
  }
}
