.sendBar {
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  gap: 16px;
  padding: 8px 24px calc(8px + env(safe-area-inset-bottom));
  background-color: #f5f5f5;

  &__fileInput {
    display: none;
  }

  &__imageButton {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
    }

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }

  &__input {
    flex: 1;
    min-width: 0;
    min-height: 32px;
    max-height: 100px;
    padding: 6px 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
    background-color: #fff;
    color: #000;
    font-family: inherit;
    font-size: 12px;
    line-height: 160%;
    overflow-y: auto;
    outline: none;
    resize: none;

    &:focus-visible {
      outline: 2px solid #b611f5;
      outline-offset: 2px;
    }

    &::placeholder {
      color: #727272;
    }

    &:disabled {
      background-color: #eee;
    }
  }

  &__sendButton {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    svg {
      width: 32px;
      height: 32px;
    }

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
}
