@use "src/utils/scss/media" as media;

.template {
  margin: 61px auto 0;
  width: 1132px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    margin-top: 0;
  }
}

.content {
  width: 834px;
  float: left;
  margin-right: 40px;
  margin-bottom: 60px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    min-height: calc(100vh - 115px);
    margin: 0;
  }
}

.header {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  position: relative;

  @include media.media-breakpoint(mobile) {
    display: none;
  }

  &__title {
    float: left;
    font-family: NanumSquare, serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -1.5px;
    color: #175c8e;
    cursor: pointer;
    margin: 0;
  }
}

.post-section {
  border-top: 2px solid #175c8e;
  border-collapse: collapse;
  font-size: 13px;
  width: 834px;
  letter-spacing: -0.8px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    border: none;
  }
}

.post-header {
  width: 100%;
  height: 44px;
  font-weight: bold;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.post-row {
  width: 100%;
  height: 100%;
  font-size: 13px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #175c8e;
}

.post-info {
  height: 100%;
  font-size: 15px;
  letter-spacing: -0.6px;
  color: #175c8e;
  display: flex;
  align-items: center;
  justify-content: center;

  &--number {
    width: 85px;
  }

  &--title {
    width: 422px;
  }

  &--author {
    width: 149px;
  }

  &--date {
    width: 70px;
  }

  &--views {
    width: 108px;
  }
}

.post-content {
  height: 68px;
  cursor: pointer;
  border-bottom: 1px #d2dae2 solid;
  display: flex;

  &:hover {
    background: #f8fafb;
  }

  @include media.media-breakpoint(mobile) {
    height: 75px;
    display: block;
    border-bottom: 1px solid #ececec;
  }
}

.post-id {
  width: 85px;
  font-size: 15px;
  height: 100%;
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;


  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.post-title {
  height: 100%;
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 412px;
  font-size: 15px;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.post-author {
  width: 150px;
  height: 100%;
  color: #175c8e;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;


  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.post-created_at {
  width: 70px;
  height: 100%;
  color: #252525;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.post-views {
  width: 108px;
  height: 100%;
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.title-header {
  font-weight: 600;
}

.title-content {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-newTag {
  margin-left: 10px;
  width: 14.5px;
  height: 15px;
  position: relative;
}

.hotPost-container {
  float: left;
  width: 258px;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.hotPost-list {
  color: #252525;
  padding: 16px 17px 6px;
  border: 1px solid #d2dae2;
  margin-bottom: 16px;
  text-align: left;
}

.hotPost-title {
  color: #252525;
  font-size: 15px;
  font-family: NanumSquare, serif;
  font-weight: 700;
  letter-spacing: -0.8px;
  margin-bottom: 19px;
}

.hotPost-content {
  font-size: 13px;
  margin-top: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 9px;
}

.hotPost-rank {
  color: #175c8e;
  width: 20px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  font-family: Verdana, serif;
  line-height: 0.85;
  letter-spacing: -0.8px;
  font-size: 15px;
  margin-left: -1px;
}

.hotPost-item {
  font-family: NanumBarunGothic,serif;
  font-size: 13px;
  color: #252525;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 25px);
  padding-left: 6px;
}
.link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-button {
  width: 48.5%;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.link-image {
  width: 100%;
}