@use "src/utils/scss/media" as media;

.template {
  margin: 61px auto 0;
  width: 1132px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    margin-top: 0;
  }
}

.content {
  width: 834px;
  float: left;
  margin-right: 40px;
  margin-bottom: 60px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    min-height: calc(100vh - 115px);
    margin: 0;
  }
}

.header {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  position: relative;

  @include media.media-breakpoint(mobile) {
    display: none;
  }

  &__title {
    float: left;
    font-family: NanumSquare, serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -1.5px;
    color: #175c8e;
    cursor: pointer;
    margin: 0;
  }
}

.title-header {
  font-weight: 600;
}

.title-content {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-newTag {
  margin-left: 10px;
  width: 14.5px;
  height: 15px;
  position: relative;
}

.loading-container {
  width: 835px;
  height: 690px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}