@use "src/utils/scss/media" as media;

.event-detail {
  width: 100%;
  height: 100%;

  &__title {
    color: #10477a;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
  }

  &__content {
    display: flex;
    gap: 20px;
    color: #000;
    font-size: 18px;
    white-space: pre-wrap;
    margin-top: 20px;

    @include media.media-breakpoint(mobile) {
      font-size: 15px;
    }
  }

  &__divider {
    margin: 20px 0;
    border: 1px solid #4b4b4b;
  }

  &__status {
    padding: 4px 8px;
    color: #fff;
    font-size: 11px;
    border-radius: 16px;

    @include media.media-breakpoint(mobile) {
      padding: 4px 8px;
      font-size: 10px;
    }

    &--soon {
      background-color: #4590bb;
    }

    &--upcoming {
      background-color: #175c8e;
    }

    &--ongoing {
      background-color: #6dbbdd;
    }

    &--ended {
      background-color: #0b3566;
    }
  }

  &__image-container {
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image__wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    @include media.media-breakpoint(mobile) {
      border-radius: 16px;
    }
  }

  &__image-counter {
    position: absolute;
    top: 64px;
    right: 4%;
    padding: 4px 12px;
    border-radius: 8px;
    background: rgb(0 0 0 / 50%);
    color: #fff;
    font-size: 18px;
    z-index: 2;
  }

  &__image-pre-button {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    z-index: 2;
  }

  &__image-marker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
  }

  &__image-marker {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #e1e1e1;

    &--active {
      width: 6px;
      height: 6px;
      background-color: #4590bb;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    font-size: 18px;

    @include media.media-breakpoint(mobile) {
      border-radius: 16px;
    }
  }
}

.edit-button {
  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 10px;
  }

  &--delete,
  &--edit {
    border-radius: 4px;
    padding: 6px 12px;
    color: white;
  }

  &--delete {
    background: #eb6f70;
  }

  &--edit {
    background: #175c8e;
  }
}

.mobile {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__date {
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 500;
  }
}
