.table {
  width: 613px;
  height: 609px;
  text-align: left;
  word-break: break-all;
  border: none;
  white-space: nowrap;

  &__header {
    display: flex;
    padding: 10px 16px;
    text-align: left;
    background-color: #175c8e1a;
  }

  &__col {
    position: relative;
    padding-right: 5px;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4B4B4B;

    .table__row > &:last-child {
      border: none;
      padding: 0;
    }

    &--text-center {
      padding-left: 7px;
    }
  }

  &__lecture-list {
    height: 567px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none !important;
    }
  }

  &__row {
    display: flex;
    background-color: #fff;
    color: #4b4b4b;

    &--selected.table__row > .table__row-button {
      background-color: #eee;
    }

    &--include.table__row > .table__row-button {
      color: #4590bb;
    }
  }

  &__row-button {
    position: relative;
    display: flex;
    padding: 10px 16px;
    background: rgb(255 255 255);
    color: rgb(133 133 133);
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #e1e1e1;
    }

    &--toggled {
      color:#1f1f1f;

      &:hover {
        background-color: #fafafa;
      }
    }
  }

  &__delete-button {
    position: absolute;
    width: 101px;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #D9D9D9 74.17%);
    z-index: 2;
    transform: rotate(180deg);
    cursor: pointer;

    > svg {
      position: absolute;
      width: 16px;
      height: 16px;
      right: 10px;
      bottom: 13px;
    }
  }
}
