.table {
  width: 766px;
  font-size: 13px;
  text-align: left;
  word-break: break-all;
  border-bottom: #858585 1px solid;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  &__content {
    & > div {
      -ms-overflow-style: none;

      // Firefox 대응
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none !important;
      }
    }
  }

  &__header {
    display: flex;
    height: 37px;
    line-height: 37px;
    border-bottom: #858585 1px solid;
    background: #f6f6f6;
  }

  &__row-button {
    display: flex;
    padding: 0;
    border: 0;
    background: rgb(255 255 255);
    color: rgb(133 133 133);
    text-align: left;
    cursor: pointer;

    &:hover {
      background: rgb(219 243 255 / 38%);
    }
  }

  &__row {
    display: flex;
    line-height: 34px;

    &--even > .table__row-button {
      background: rgb(247 247 247);
    }

    &--selected.table__row > .table__row-button {
      background: rgb(219 243 255);
    }
  }

  &__col {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    box-sizing: border-box;

    .table__row > &:last-child {
      border: none;
      padding: 0;
    }

    &--header {
      padding-left: 10px;
      border-right: #d2dae2 1px solid;
      word-break: break-all;
      white-space: nowrap;
      height: 100%;
      color: #555;
      overflow-y: hidden;

      &:hover {
        background: #e9e9e9;
      }
    }

    &--body {
      line-height: 34px;
      border-right: 1px solid rgb(210 218 226);
      word-break: break-all;
      white-space: nowrap;
      padding-left: 10px;
      height: 34px;

      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        padding: 0;
        text-align: center;
      }
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 5px;
    border: none;
    padding: 0;
    width: 24px;
    background-color: transparent;
    cursor: pointer;

    & > img {
      width: 100%;
    }

    &:hover,
    &:focus {
      transform: scale(1.3);
    }
  }

  &__resize {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 38px;
    background: transparent;
    user-select: none;
    z-index: 2;
  }
}
