@use "src/utils/scss/media" as media;

.list {
  width: 834px;
  height: 68px;
  cursor: pointer;
  border-bottom: 1px #d2dae2 solid;
  display: flex;
  text-decoration-line: none;

  &:hover {
    background: #f8fafb;
  }

  @include media.media-breakpoint(mobile) {
    height: 75px;
    display: block;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
    padding: 16px 16px 14.5px;
  }

  &__id {
    width: 85px;
    font-size: 15px;
    height: 100%;
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__author {
    width: 150px;
    height: 100%;
    color: #175c8e;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include media.media-breakpoint(mobile) {
      display: inline;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.54;
      letter-spacing: -0.7px;
      color: #a1a1a1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__registered-at {
    width: 70px;
    height: 100%;
    color: #252525;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media.media-breakpoint(mobile) {
      display: inline;
      font-size: 13px;
      line-height: 1.54;
      letter-spacing: -0.7px;
      color: #a1a1a1;
      float: right;
      height: 50%;
    }
  }

  &__views {
    width: 108px;
    height: 100%;
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }
}

.title {
  height: 100%;
  color: #252525;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 412px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: block !important;
  }

  &__header {
    font-weight: 600;

    @include media.media-breakpoint(mobile) {
      display: inline;
    }
  }

  &__content {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media.media-breakpoint(mobile) {
      display: inline;
    }
  }

  &__new-tag {
    margin-left: 10px;
    width: 14.5px;
    height: 15px;
    position: relative;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }
}
