button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-width: 360px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 20;
  transform: translateX(100%);
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);

  &--expanded {
    transform: translateX(0);
  }
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 22px 16px 22px;
  box-sizing: border-box;
}

.greet {
  padding: 25px 22px 18px 22px;

  &__font {
    height: 22px;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    text-align: left;
    color: #4b4b4b;
  }

  &--highlight {
    margin-right: 3px;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.48px;
    text-align: left;
    color: #10477a;
  }
}

.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 24px;

  &__font {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    text-align: left;
    color: #4b4b4b;

    & > svg {
      margin-right: 8px;
      margin-bottom: 2px;
    }
  }
}

.category {
  &__title {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 33px;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    text-align: left;
    color: #4b4b4b;
    background-color: #fafafa;
  }

  &__submenu {
    padding: 0 24px;
    height: 58px;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 3px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
  }
}
