.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
  }

  &__box {
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    padding: 8px 12px;
    border-radius: 16px;
    background: #fff;
    font-size: 14px;
    line-height: 1.6;
    color: #727272;
  }
}
