@use "utils/scss/media.scss" as media;

.credit-chart {
  position: relative;
  display: flex;
  gap: 36px;
  border: none;
  border-radius: 16px;
  background-color: #fff;
  padding: 32px 15px 72px;

  &__y-axis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;

    &--value {
      display: flex;
      align-items: center;
      font-family: Pretendard, sans-serif;
      font-weight: 400;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: center;
    }
  }

  &__contour {
    &::after {
      content: "";
      position: absolute;
      width: 843px;
      height: 1px; /* 기본 선 두께 */
      background: #000; /* 배경색으로 선 표현 */
      transform: scaleY(0.3); /* Y축을 0.3배로 축소 */
      transform-origin: top; /* 상단을 기준으로 축소 */
      right: 15px;
    }
  }

  &__x-axis {
    display: grid;
    width: 800px;
    gap: 20px;
    position: relative;
    bottom: -30px;
    align-items: flex-end;

    &--name {
      width: 100%;
      color: #000;
      text-align: center;
      font-family: Pretendard, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      white-space: nowrap;
    }
  }

  &__course {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
  }

  &__total-credit {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 12px 12px 0 0;
    background: rgba(122 186 120 / 30%);
  }

  &__earned-credit {
    position: absolute;
    width: 100%;
    background: rgba(122 186 120 / 70%);
    bottom: 0;

    &--full {
      border-radius: 12px 12px 0 0;
    }
  }

  &__credit-status {
    color: #000;
    text-align: center;
    font-family: Pretendard, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    z-index: 1;
  }

  &__description {
    position: absolute;
    bottom: 12px;
    right: 39px;
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 0%;
    color: #727272;
  }

  &__total-grades {
    position: absolute;
    top: 5px;
    right: 39px;
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }
}
