@use "src/utils/scss/media" as media;

.content {
  text-align: left;
  padding: 15px 20px 0;
  font-family: NanumBarunGothic, serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.73;
  letter-spacing: -0.8px;
  color: rgb(85 85 85);
  height: 100%;
  min-height: 230px;
  overflow: scroll;
  user-select: text;

  &::-webkit-scrollbar {
    display: none;
  }

  & * {
    margin: 0;
  }

  & img {
    max-width: 100%;
  }

  @include media.media-breakpoint(mobile) {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.7px;
    color: #252525;
    min-height: 500px;

    & img {
      width: 100%;
    }
  }
}
