@use "src/utils/scss/media" as media;

.container {
  @include media.media-breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 40px);
    font-family: Pretendard, sans-serif;
    align-items: center;
  }
}

.logo {
  @include media.media-breakpoint(mobile) {
    display: flex;
    width: 96px;
    height: 56px;
    margin: 100px auto 80px auto;
  }
}

.button-container {
  @include media.media-breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    align-items: center;
  }

  &__button {
    @include media.media-breakpoint(mobile) {
      display: flex;
      width: calc(100% - 48px);
      height: 48px;
      padding: 12px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      
      color: #FFF;
      font-size: 16px;
      font-weight: 500;
      line-height: 160%;
    }

    &--orange{
      @include media.media-breakpoint(mobile) {
        background-color: #f7941e;
      }
    }

    &--blue{
      @include media.media-breakpoint(mobile) {
        background-color: #175c8e;
      }
    }
  }
}
