@use "src/utils/scss/media" as media;

.header {
  display: flex;
  padding: 32px 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  @include media.media-breakpoint(mobile) {
    padding: 10px 22px;
  }
}

.title {
  color: #000;
  text-align: center;
  font-family: Pretendard, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;

  @include media.media-breakpoint(mobile) {
    font-size: 16px;
    text-align: start;
  }
}

.subtitle {
  color: #828282;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 100%;

  &__container {
    @include media.media-breakpoint(mobile) {
      width: 100%;
    }
  }

  @include media.media-breakpoint(mobile) {
    font-size: 12px;
    text-align: start;
  }
}

.buttons {
  display: flex;
  padding: 0 24px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  align-self: stretch;

  @include media.media-breakpoint(mobile) {
    gap: 4px;
    padding: 0 24px 4px;
  }
}

.buttons__report {
  display: flex;
  padding: 12px 128px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 4px;
  background: #175c8e;
  color: #fff;
  font-family: Pretendard, sans-serif;

  @include media.media-breakpoint(mobile) {
    font-size: 12px;
    width: 100%;
    padding: 12px 8px;
  }
}

.buttons__close {
  color: black;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: Pretendard, sans-serif;

  @include media.media-breakpoint(mobile) {
    font-size: 12px;
    width: 100%;
    padding: 12px 8px;
  }
}
