@import "src/utils/scss/media";

.template{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__copyright {
    font-family: NanumSquareR, sans-serif;
    margin-top: 28px;
    color: rgb(125, 125, 125);
    letter-spacing: -0.7px;
    font-size: 13px;
    text-align: center;

    @include media-breakpoint(mobile) {
      margin-top: 8px;
      width: auto;
      font-family: NanumSquareR, sans-serif;
      font-size: 11px;
      font-weight: normal;
      color: #7d7d7d;
    }
  }
}