@use "utils/scss/media.scss" as media;

.page {
  width: 1150px;
  margin: 80px auto 0;

  &__content {
    display: flex;
    gap: 16px;
  }

  &__title {
    display: flex;
    gap: 6px;
    width: 129px;
    height: 40px;
    margin-bottom: 40px;
    color: #175c8e;

    &--name {
      width: 83px;
      text-align: left;
      font-size: 31px;
      font-weight: 500;
      line-height: 38.19px;
      margin: 1px 0;
    }
  }

  &__depart {
    width: 200px;
  }

  &__semester {
    width: 150px;
  }
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid rgb(210 218 226);
  width: 322px;
  height: 42px;

  &__input {
    margin-right: 0;
    border: none;
    width: 249px;
    height: 32px;
    font-size: 15px;
    text-align: left;
    color: rgb(37 37 37);
    background-color: rgb(255 255 255);
    position: relative;

    &:focus {
      outline: none;
    }
  }

  &__button {
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
  }

  &__table {
    &--all {
      height: 459px;
    }

    &--selected {
      height: 177px;
    }
  }
}

.list {
  &__button {
    padding-left: 10px;
    line-height: 34px;
    cursor: pointer;
    border: 0;
    width: 22px;
    height: 34px;
    text-align: center;
    background-color: transparent;

    & > img {
      position: relative;
      top: 6px;
      right: 1px;
      width: 22px;
    }
  }
}

.dropdown-loading-spinner {
  margin: 1px auto;
  background-color: white;
  width: 50px;
  height: 50px;
}

.top-loading-spinner {
  margin: 208px auto;
  background-color: white;
  width: 100px;
  height: 100px;
}

.bottom-loading-spinner {
  margin: 100px auto;
  background-color: white;
  width: 100px;
  height: 100px;
}

.central-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.timetable-list {
  width: 331px;
  height: 763px;

  &__list {
    height: 699px;
    background-color: white;
    margin-top: 16px;
  }
}

.select {
  position: relative;
  display: inline-block;
  width: 260px;
  background-color: #fff;
  border-radius: 5px;

  svg:not(.select__curriculum-title svg) {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
  }

  &--opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 8px 32px 0 #00000014;
    box-shadow: 0 2px 20px 0 #0000000a;

    svg:not(.select__curriculum-title svg) {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }

  &__trigger {
    position: relative;
    width: 100%;
    height: 48px;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #e1e1e1;
    }
  }

  &__curriculum-title {
    display: flex;
    gap: 8px;
    color: #4b4b4b;
    font-size: 18px;
    font-family: Pretendard, sans-serif;
    font-weight: 500;
    line-height: 21.48px;
  }

  &__curriculum-list {
    position: absolute;
    z-index: 5;
    box-shadow: 0 8px 32px 0 #00000014;
    box-shadow: 0 2px 20px 0 #0000000a;
    background-color: #fafafa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__curriculum {
    width: 260px;
    height: 48px;
    box-sizing: border-box;
    background-color: #fafafa;
    cursor: pointer;
    font-family: Pretendard, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    color: #8e8e8e;
    display: block;
    padding: 14px 24px;

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &[aria-selected="true"] {
      color: #175c8e;
    }

    &:hover {
      background-color: #eee;
      border-radius: 5px;
    }

    &:active {
      background-color: #e1e1e1;
    }
  }
}
