@use "utils/scss/media.scss" as media;

.page {
  width: 1150px;
  margin: 80px auto 0;

  &__content {
    display: flex;
    gap: 16px;
  }
}

.timetable-header {
  display: flex;
  align-items: flex-end;
  height: 40px;
  margin-bottom: 40px;
  gap: 6px;

  &__title {
    font-size: 32px;  
    font-weight: 500;
    color: #175c8e;
  }
}

.central-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
