@use "utils/scss/media.scss" as media;

.select {
  position: relative;
  display: inline-block;
  width: 100%;

  &--flex-end {
    order: 99;
  }

  &__trigger {
    position: relative;
    width: 100%;
    height: 45px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d2dae2;
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      height: 36px;
  }

    svg {
      width: 17px;
      height: 17px;
    }
  }

  &__content {
    position: absolute;
    z-index: 5;

    &--up {
      transform: translateY(-100%);
    }
  }

  &__option {
    width: 192px;
    height: 45px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.8px;
    color: #252525;
    border: 1px solid #d2dae2;

    &[aria-selected="true"],
    &:hover {
      font-weight: bold;
    }

    @include media.media-breakpoint(mobile) {
      width: 155px;
    }
  }
}
