@use "utils/scss/media.scss" as media;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  min-height: 110px;
  padding: 16px 20px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-radius: 16px;
  background: #fff;
  color: #1f1f1f;

  @include media.media-breakpoint(mobile) {
    min-height: 109px;
    border: 0;
  }

  &__overlayLink {
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: inherit;

    &:focus-visible {
      outline: 2px solid #b611f5;
      outline-offset: 2px;
    }
  }

  &__action {
    position: relative;
    z-index: 2;
  }

  &__actions {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 26px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }

  &__badges {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    gap: 4px;
  }

  &__category {
    padding: 1px 8px;
    border-radius: 100px;
    line-height: 160%;

    &--contest {
      background: #e4f2ff;
      color: #3a70e2;
    }

    &--external-activity {
      background: #e5f5ec;
      color: #0c9d61;
    }

    &--study {
      background: #ead3fe;
      color: #980ac9;
    }

    &--project {
      background: #fff9ee;
      color: #ffad0d;
    }

    &--other {
      background: #ffebee;
      color: #f64c4c;
    }
  }

  &__status {
    color: #ec2d30;

    &--closed {
      color: #b611f5;
    }
  }

  &__title {
    margin: 0;
    overflow: hidden;
    color: #1f1f1f;
    font-weight: 600;
    line-height: 160%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__roles {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: -4px;
  }

  &__role {
    padding: 1px 8px;
    border-radius: 999px;
    background: #eee;
    color: #727272;
    font-size: 10px;
    line-height: 160%;
    white-space: nowrap;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  &__information {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    color: #727272;

    &-item {
      display: flex;
      align-items: center;
      gap: 2px;
      min-width: 0;
      font-size: 10px;
      line-height: 160%;
      white-space: nowrap;

      svg {
        path {
          stroke: currentcolor;
        }
      }

      &--full {
        color: #b611f5;
      }
    }
  }
}
