@use "src/utils/scss/media" as media;

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px 0;
}

.body {
  display: flex;
  width: calc(100% - 40px);
  max-width: 1136px;
  height: 100%;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  flex-shrink: 0;
  border: 1px solid var(--Neutral-300, #E1E1E1);

  &__content {
    display: flex;
    gap: 20px;
    flex-direction: column;

    &--title {
      color: #000;
      font-family: Pretendard;
      font-size: 32px;
      font-weight: 500;
      line-height: normal;
    }
  }
}

@mixin text-style {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: var(--Neutral-800, #000);
}

.policy {
  gap: 20px;
  
  &__title {
    color: #000;
    font-family: Pretendard;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
  }

  &__content {
    @include text-style;
  }

  &__items {
    @include text-style;
    list-style-type: disc;
    margin-left: 20px; 
  }

  &__additionalContent {
    @include text-style;
  }

  &__additionalItems {
    @include text-style;
    list-style-type: disc;
    margin-left: 20px;  
  }
}
