.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Pretendard, sans-serif;
  margin: 120px 0 200px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--title {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
    }

    &--icon {
      visibility: hidden;
    }
  }

  &__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  &__subTitleWrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: row-reverse;
    width: 100%;
    padding: 8px;

    &-subTitle {
      font-size: 12px;
      font-weight: 400;
      line-height: 160%;

      .required {
        color: #ec2d30;
      }
    }
  }
}

.divider {
  width: 640px;
  border: 2px solid #175c8e;

  &--top {
    margin: 0 0 48px;
  }

  &--bottom {
    margin: 40px 0;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 592px;
  justify-content: center;
  gap: 24px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 592px;
  gap: 24px;
}

.input-wrapper {
  position: relative;
}

.label-count-number {
  margin-left: 8px;
  color: #727272;
  font-family: Pretendard, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 160%;
}

.input-with-button {
  display: flex;
  gap: 16px;
}

.check-button {
  display: flex;
  min-width: 120px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #175c8e;
  color: #175c8e;
  font-family: Pretendard, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 160%;

  &:disabled {
    border: 1px solid #e1e1e1;
    color: #cacaca;
    cursor: not-allowed;
  }
}

.next-button {
  display: flex;
  width: 320px;
  height: 64px;
  padding: 12px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #4b4b4b;
  background-color: #e1e1e1;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;

  &--active {
    color: #fff;
    background-color: #175c8e;
  }
}
