.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.guide {
  width: 1136px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;

  &__title {
    height: 38px;
    font-family: Pretendard, sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #175c8e;
  }

  &__description {
    height: 29px;
    margin-top: 8px;
    justify-content: space-between;
    font-family: Pretendard, sans-serif;
    font-size: 18px;
  }
}

.contents { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 53px;
}