@use "src/utils/scss/media" as media;

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000026;
  z-index: 21;
}

.container {
  width: 383px;
  border: none;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 8px 32px 0 #00000014;
  padding: 32px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media.media-breakpoint(mobile) {
    width: 300px;
  }

  &__notice {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--title {
      font-family: Pretendard, sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 31.03px;
      letter-spacing: 0%;
      text-align: center;

      @include media.media-breakpoint(mobile) {
        font-size: 18px;
        font-weight: 500;
      }
    }

    &--description {
      font-family: Pretendard, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 25.6px;
      letter-spacing: 0%;
      text-align: center;
      color: #727272;

      @include media.media-breakpoint(mobile) {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 14px;

    @include media.media-breakpoint(mobile) {
      flex-direction: row-reverse;
      width: 100%;
      padding: 0 5%;
      box-sizing: border-box;
    }

    &--login {
      padding: 12px 64px;
      background-color: #175c8e;
      color: #fff;
      font-family: Pretendard, sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 25.6px;
      letter-spacing: 0%;
      border-radius: 4px;

      @include media.media-breakpoint(mobile) {
        padding: 12px;
        width: 100%;
      }
    }

    &--back {
      background-color: inherit;
      color: #000;
      font-family: Pretendard, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.71px;
      letter-spacing: 0%;

      @include media.media-breakpoint(mobile) {
        border-radius: 4px;
        border: 1px solid #8e8e8e;
        padding: 12px;
        width: 100%;
      }
    }
  }
}
