@use "src/utils/scss/media";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 640px;
  margin: 120px auto 160px;
  font-family: Pretendard, sans-serif;

  &__description {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 4px;
  }
}

.title {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 37px;
}

.advice-character {
  color: #ec2d30;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.advice {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.form-input {
  display: flex;
  padding: 11px 32px 11px 12px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  width: 320px;
  height: 26px;
  line-height: 160%;

  &::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    color: #cacaca;
  }

  &:disabled {
    background-color: #eee;
    border: 1px solid #e1e1e1;
    color: #cacaca;
  }

  &__password {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 5px;
  }

  &__radio {
    display: flex;
    margin-left: 6px;
  }

  &__radio-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__label-wrapper {
    position: relative;
    display: flex;
  }

  &__label {
    font-family: Pretendard, sans-serif;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    width: 136px;
  }

  &__required {
    color: #ec2d30;
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
  }

  &__select {
    width: 346px;
    height: 45px;
    font-size: 15px;

    @include media.media-breakpoint(mobile) {
      width: 155px;
      height: 36px;
    }
  }

  &__description {
    position: absolute;
    color: #cacaca;
    top: 100px;
    left: 166px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
  }

  &--invalid {
    border: 2px solid red;
  }

  @include media.media-breakpoint(mobile) {
    width: 320px;
    height: 36px;
    padding-left: 16px;

    &::placeholder {
      font-size: 14px;
    }
  }

  &--half {
    width: 192px;

    @include media.media-breakpoint(mobile) {
      width: 155px;
    }
  }

  &--flex-end {
    order: 99;
  }

  &__toggle {
    position: absolute;
    right: 148px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__wrapper {
    position: relative;
  }

  &__student-email {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #cacaca;
    font-size: 12px;
    line-height: 1.6;
  }
}

.select {
  position: relative;
  display: inline-block;
  margin-left: 6px;

  &--flex-end {
    order: 99;
  }

  &__trigger {
    position: relative;
    width: 192px;
    height: 45px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d2dae2;

    @include media.media-breakpoint(mobile) {
      width: 155px;
      font-size: 14px;
      height: 36px;
    }
  }

  &__content {
    position: absolute;
    z-index: 5;
  }

  &__option {
    width: 192px;
    height: 45px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.8px;
    color: #252525;
    border: 1px solid #d2dae2;

    &:hover {
      font-weight: 700;
    }

    @include media.media-breakpoint(mobile) {
      width: 155px;
    }
  }
}

.modify {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #175c8e;
  padding: 48px 24px;
  margin-top: 8px;
  gap: 24px;

  @include media.media-breakpoint(mobile) {
    width: 320px;
    margin: 0 auto;
  }

  &__advice {
    display: block;
    width: 100%;
    height: 12px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.6px;
    text-align: left;
    color: #858585;
    margin-bottom: 16px;
    margin-left: 5px;

    @include media.media-breakpoint(mobile) {
      width: 320px;
      margin: 0 auto 12px;
    }
  }

  &__row {
    display: flex;

    &--nickname {
      flex-wrap: nowrap;
      width: 100%;

      @include media.media-breakpoint(mobile) {
        margin: 0 auto;
        width: 320px;
      }
    }
  }

  &__button {
    border-radius: 12px;
    text-align: center;
    font-family: Pretendard, sans-serif;
    line-height: 1.6;

    &:disabled {
      background: #e5eaf0;
      border: solid 1px #d2dae2;
      color: #cacaca;
    }

    &--nickname {
      font-size: 14px;
      width: 120px;
      height: 100%;
      border: 1px solid #175c8e;
      background-color: transparent;
      color: #175c8e;
      margin-left: 6px;

      @include media.media-breakpoint(mobile) {
        width: 75px;
        height: 36px;
      }
    }

    &--submit {
      width: 240px;
      height: 64px;
      padding: 10px;
      font-size: 16px;
      font-weight: 500;
      background-color: #175c8e;
      color: #fff;

      &:disabled {
        background-color: #cacaca;
        color: #fff;
        border: none;
      }
    }

    &--remove {
      width: 240px;
      height: 64px;
      padding: 10px;
      font-size: 16px;
      font-weight: 500;
      background-color: #eb6f70;
      color: #fff;

      @include media.media-breakpoint(mobile) {
        width: 320px;
        height: 36px;
        font-size: 14px;
      }
    }

    &--phone {
      width: 120px;
      height: 48px;
      border: 1px solid #e1e1e1;
      background-color: transparent;
      color: #cacaca;
      margin-left: 6px;

      @include media.media-breakpoint(mobile) {
        width: 75px;
        height: 36px;
      }
    }

    &--active {
      border: 1px solid #175c8e;
      color: #175c8e;
    }
  }

  &__section {
    text-align: left;
    margin: 20px 0 6px;
    border-top: 0.5px solid #d2dae2;
    padding: 20px 0;
    width: 100%;

    @media (max-width: 576px) {
      width: 320px;
      margin: 20px auto 8px;
    }

    &--flex-end {
      order: 99;
    }
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid #d2dae2;
    line-height: 13px;
    appearance: none;

    &:checked {
      background-image: url("https://static.koreatech.in/assets/img/check.png");
      background-size: cover;
    }
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 6px;
    text-align: left;
    color: #858585;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.6px;
    cursor: pointer;

    &--large {
      font-size: 15px;
      color: #252525;
    }
  }

  &__copyright {
    display: block;
    font-family: NanumBarunGothic, sans-serif;
    margin-top: 28px;
    color: gray;
    letter-spacing: -0.7px;
    font-size: 13px;
    text-align: center;

    @include media.media-breakpoint(mobile) {
      margin-top: 8px;
      width: auto;
      font-size: 11px;
      font-weight: normal;
      color: #7d7d7d;
    }
  }
}

.term {
  &__title {
    font-size: 15px;
    letter-spacing: -0.8px;
    text-align: left;
    color: #252525;
    padding-top: 12px;
    margin-bottom: 11px;
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      width: 320px;
      margin: 0 auto 12px;
    }
  }

  &__content {
    resize: none;
    width: 352px;
    border: 1px solid #d2dae2;
    padding: 18px 19px 17px;
    font-family: NanumBarunGothic, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.6px;
    text-align: left;
    color: #858585;
    height: 102px;

    @include media.media-breakpoint(mobile) {
      box-sizing: border-box;
      width: 320px;
      height: 127px;
      margin: 0 auto;
    }
  }
}

.buttons {
  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 64px;
    width: 100%;
  }
}

.divider {
  width: 100%;
  border: 0.5px solid #175c8e;
}

.form-message {
  position: absolute;
  bottom: -20px;
  left: 140px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
  display: flex;
  align-items: center;
  gap: 4px;

  &--success {
    color: #0c9d61;
  }

  &--error {
    color: #ec2d30;
  }

  &--warning {
    color: #f7941e;
  }

  &--count {
    color: #727272;
    margin-left: 4px;
  }

  &--timer {
    position: absolute;
    top: 50%;
    right: 155px;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: #727272;
  }
}
