@use "src/utils/scss/media" as media;

.background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000026;
  z-index: 21;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 20px;
  width: 431px;
  box-sizing: border-box;
  box-shadow:
    0 8px 32px 0 #00000014,
    0 2px 20px 0 #0000000a;
  border-radius: 16px;
  background: #fff;

  @include media.media-breakpoint(mobile) {
    width: 301px;
    height: 208px;
    padding: 24px 32px;
  }

  &__icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    gap: 8px;

    @include media.media-breakpoint(mobile) {
      padding: 0;
    }
  }

  &__title {
    font-family: Pretendard, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    @include media.media-breakpoint(mobile) {
      font-size: 18px;
      font-weight: 500;
      color: #4b4b4b;
      line-height: 160%;
    }
  }

  &__detail {
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    color: #727272;

    @include media.media-breakpoint(mobile) {
      font-size: 14px;
      color: #8e8e8e;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 24px;

    @include media.media-breakpoint(mobile) {
      flex-direction: row-reverse;
    }

    &--cancel {
      padding: 4px 12px;
      font-family: Pretendard, sans-serif;
      border-radius: 4px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;

      &:active {
        background-color: #cacaca;
      }

      @include media.media-breakpoint(mobile) {
        background-color: #fff;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #cacaca;
        height: 50px;
        flex: 1;
      }
    }

    &--login {
      width: 100%;
      padding: 12px 20px;
      background-color: #175c8e;
      border: none;
      border-radius: 4px;
      font-family: Pretendard, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.6;
      color: #fff;
      text-align: center;
      cursor: pointer;

      @include media.media-breakpoint(mobile) {
        background-color: #b611f5;
        flex: 1;
        border-radius: 8px;
      }

      &:active {
        background-color: #10477a;
      }
    }
  }
}
