@use "utils/scss/media.scss" as media;

.container {
  margin-bottom: 64px;
  text-align: center;

  @include media.media-breakpoint(mobile) {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
}

.notice {
  display: inline-flex;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #f1f8ff;
  justify-content: space-between;
  align-items: center;
  box-shadow:
    0 2px 4px rgb(0 0 0 / 4%),
    0 1px 1px rgb(0 0 0 / 2%);

  @include media.media-breakpoint(mobile) {
    width: calc(100vw - 64px);
    padding: 16px;
    box-shadow: none;
  }

  &__description {
    margin: 0 8px;
    padding-top: 2px;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #175c8e;

    @include media.media-breakpoint(mobile) {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.container--timetable {
  @include media.media-breakpoint(mobile) {
    padding: 0 24px;
    margin-bottom: 8px;

    .notice {
      flex: 1;
      min-width: 0;
      width: auto;
      background-color: #fff;
      box-shadow:
        0 8px 32px rgb(0 0 0 / 8%),
        0 2px 20px rgb(0 0 0 / 4%);

      &__description {
        flex: 1;
        min-width: 0;
        margin: 0;
        padding: 0;
        line-height: 160%;
        color: #b611f5;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__close {
        flex-shrink: 0;

        svg {
          display: block;
          width: 24px;
          height: 24px;

          path {
            fill: #727272;
          }
        }
      }
    }
  }
}
