@use "src/utils/scss/media" as media;

.template {
  min-width: 1132px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  @include media.media-breakpoint(mobile) {
    min-width: 100%;
    width: 100%;
    padding: 40px 0 0;
    gap: 0;
  }

  @include media.media-breakpoint(mobile) {
    width: 100%;
    padding: 40px 0 0;
  }
}

.left-container {
  display: flex;
  flex-direction: column;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
