@use "src/utils/scss/media" as media;
/* stylelint-disable scss/at-import-no-partial-leading-underscore */
@import "reset-css/sass/_reset";
/* stylelint-enable scss/at-import-no-partial-leading-underscore */
@import "react-quill/dist/quill.snow.css";
@import "react-toastify/dist/ReactToastify.css";
@import url("https://static.koreatech.in/assets/font/pretendard-subset.css");

#root {
  display: flex;
  flex-direction: column;
  min-width: 1148px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;

  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family:
    Pretendard,
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

  @include media.media-breakpoint(mobile) {
    min-width: 360px;
  }
}

a,
button {
  color: #000;
  font-family: Pretendard, sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

/* stylelint-disable selector-pseudo-class-no-unknown */

.quill {
  width: 100%;
}

.ql-container {
  width: 100%;
  height: auto;
}

.ql-editor {
  width: 100%;
}

.ql-editor strong {
  font-weight: 700 !important;
}

.ql-editor em {
  font-style: italic !important;
}

.ql-bubble {
  width: 100%;
  border: 1px solid #ccc;

  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

/* stylelint-enable selector-pseudo-class-no-unknown */
