.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  border-radius: 8px;
  padding: 0 4px;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 2%),
    0 2px 4px rgb(0 0 0 / 4%);
  z-index: 20;
  white-space: nowrap;

  &__item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    justify-content: center;

    &--danger {
      color: #ec2d30;
    }
  }

  &__divider {
    width: 97px;
    height: 1px;
    background: #eee;
    flex-shrink: 0;
  }
}
