@use "src/utils/scss/media" as media;

.template {
  @include media.media-breakpoint(mobile) {
    width: 100%;
    margin-top: 33px;
  }
}

.title {
  font-family: NanumSquare, serif;
  font-size: 17px;
  font-weight: bold;
  color: #175c8e;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;

  @include media.media-breakpoint(mobile) {
    font-size: 18px;
    padding: 0 16px;
    box-sizing: border-box;
  }

  span {
    cursor: pointer;
  }
}

.moreLink {
  font-family: NanumBarunGothic, sans-serif;
  font-size: 12px;
  color: #252525;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 400;

  ::after {
    display: inline-block;
    width: 12px;
    height: 8px;
    background: url("https://static.koreatech.in/assets/img/bus_dropdown.png") center/12px 8px no-repeat;
    transform: rotate(-90deg);
    content: "";
  }

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.cafeteriaCard {
  display: grid;
  grid-template: 26px 159px / 27px 1fr;
  width: 256px;
  height: 203px;
  margin-top: 16px;
  padding: 15px 12px 0;
  border: solid 1px #e4e4e4;
  box-sizing: border-box;

  @include media.media-breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: #fafafa;
  }
}

.cafeteriaContainer {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 3;
  width: 27px;
  height: 100%;

  @include media.media-breakpoint(mobile) {
    height: auto;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    padding: 11px 24px 0;
    width: 100%;
    background-color: #fff;
  }
}

.cafeteria {
  margin: 8px 0;
  width: 42px;
  font-size: 14px;
  text-align: center;
  color: #bbb;
  cursor: pointer;

  &--selected {
    color: #175c8e;

    @include media.media-breakpoint(mobile) {
      border-bottom: 1px solid #10477a;
    }
  }

  @include media.media-breakpoint(mobile) {
    margin-bottom: 0;
    padding: 16px 16px 12px;
  }
}

.menuBox {
  @include media.media-breakpoint(mobile) {
    height: 200px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background-color: #fff;
    margin: 16px 24px 20px;
  }
}

.typeContainer {
  display: flex;
  justify-content: center;
}

.type {
  font-family: NanumSquare, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  line-height: 26px;
  text-align: center;

  @include media.media-breakpoint(mobile) {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 16px;
    line-height: normal;
    border-bottom: 1px solid #eee;
  }

  &__block {
    display: none;

    &--soldOut {
      @include media.media-breakpoint(mobile) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: #fff7e1;
        font-size: 12px;
        font-weight: 500;
        color: #ffad0d;
      }
    }
  }
}

.typeControlButton {
  width: 26px;
  height: 26px;
  margin: 0 8px;
  padding: 0;
  border: 0;
  background: url("https://static.koreatech.in/assets/img/ic-more.png") center/26px 26px no-repeat;
  cursor: pointer;

  &.left {
    transform: rotate(180deg);
  }

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.menuContainer {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  padding: 15px 0 0 27px;

  @include media.media-breakpoint(mobile) {
    height: 150px;
    padding: 27px 0 0 19px;
  }
}

.menu {
  font-size: 12px;
  color: #252525;
  text-align: left;
  margin-bottom: 14px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75px;

  &.long {
    width: 100%;
  }

  @include media.media-breakpoint(mobile) {
    margin-bottom: 10px;
    width: 50%;
  }
}

.noMenuContent {
  text-align: center;
  margin-top: 21px;

  @include media.media-breakpoint(mobile) {
    margin: 0;
  }
}

.noMenuImage {
  width: 52px;
  height: 47px;
  margin-left: -19px;
}

.noMenu {
  height: 31px;
  font-family: NanumBarunGothic, serif;
  font-size: 12px;
  color: #252525;
  text-align: center;
  margin: 15px 0 0 -15px;

  @include media.media-breakpoint(mobile) {
    margin: 8px 0 0 -19px;
  }
}
