@use "src/utils/scss/media" as media;

.template {
  @include media.media-breakpoint(mobile) {
    width: 100%;
    margin-top: 33px;
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: #175c8e;
    font-family: Pretendard, sans-serif;
    font-size: 20px;
    font-weight: 500;

    @include media.media-breakpoint(mobile) {
      font-size: 15px;
      padding-left: 3px;
      margin-left: 16px;
      box-sizing: border-box;
    }
  }

  &__more {
    font-family: NanumBarunGothic, sans-serif;
    font-size: 12px;
    color: #252525;
    font-weight: 400;
    line-height: 13.79px;
    text-align: right;
    display: flex;
    align-items: center;
    position: relative;
    left: 8px;

    svg {
      position: relative;
      top: -1px;
      right: 3px;
    }

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__tooltip {
    z-index: 10;
    position: absolute;
    top: -120px;
    left: 64px;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__tooltip-content {
    position: absolute;
    top: 20px;
    left: 24px;
    color: #4b4b4b;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
  }

  &__tooltip-close {
    position: absolute;
    bottom: 36px;
    right: 24px;
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #e1e1e1;
  }

  &__tooltip-image {
    width: 332px;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  width: 256px;
  height: 204px;
  margin-top: 16px;
  padding: 12px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;

  @include media.media-breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 310px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: #fafafa;
    cursor: default;
  }
}

.place {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  display: flex;
  flex-direction: column;

  @include media.media-breakpoint(mobile) {
    height: auto;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    padding: 11px 24px 0;
    width: 100%;
    background-color: #fff;
  }

  &__name {
    margin: auto 0;
    font-size: 14px;
    text-align: center;
    color: #bbb;

    &--selected {
      color: #175c8e;

      @include media.media-breakpoint(mobile) {
        border-bottom: 1px solid #10477a;
      }
    }

    @include media.media-breakpoint(mobile) {
      margin-bottom: 0;
      padding: 16px 16px 12px;
      cursor: pointer;
    }
  }
}

.type {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  font-family: NanumSquare, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  color: #000;
  height: 26px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.menus {
  position: relative;
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  padding: 15px;
  box-sizing: border-box;

  @include media.media-breakpoint(mobile) {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 200px;
    margin: 16px 24px 20px;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__type {
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #000;
    width: 100%;
    height: 56px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
  }

  &__chip {
    position: absolute;
    top: 11px;
    right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
    width: 21px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #fff7e1;
    font-size: 12px;
    font-weight: 500;
    color: #ffad0d;
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    @include media.media-breakpoint(mobile) {
      max-height: 76%;
      padding: 15px;
      box-sizing: border-box;
    }
  }

  &__name {
    font-family: NanumBarunGothic, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.79px;
    text-align: left;
    color: #252525;
    max-width: 50%;
    height: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media.media-breakpoint(mobile) {
      display: flex;
      align-items: center;
      height: 24px;
    }
  }

  &--not-served {
    @include media.media-breakpoint(mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__not-served {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: NanumBarunGothic, serif;
    font-size: 12px;
    color: #252525;
    text-align: center;

    & svg {
      margin-bottom: 12px;
    }

    @include media.media-breakpoint(mobile) {
      margin-top: 20px;
    }
  }
}
