@use 'src/utils/scss/media' as media;

.searchBar {
  display: none;

  @include media.media-breakpoint(mobile) {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    background: #fff;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 999px;
    background: #f5f5f5;
    cursor: pointer;
  }
}
