@use "src/utils/scss/media" as media;

.list {
  display: none;
  width: 100%;

  @include media.media-breakpoint(mobile) {
    display: block;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 12px 24px;
  border-bottom: 1px solid #ececec;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;

  &__tag {
    font-size: 12px;
    font-weight: 600;
    color: #600481;
    line-height: 1.6;
  }

  &__title {
    margin: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    text-overflow: ellipsis;
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: normal;
  }

  &__meta {
    display: flex;
    align-items: center;
    color: #727272;
    font-size: 12px;
    line-height: 1.6;
  }

  &__meta-author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__meta-date {
    flex-shrink: 0;
    color: #a1a1a1;
    font-size: 12px;
    line-height: 1.6;
    white-space: nowrap;
  }
}
