@use "src/utils/scss/media" as media;

.links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  &__writing-options {
    display: flex;
    gap: 20px;
    align-items: center;

    @include media.media-breakpoint(mobile) {
      flex-direction: column;
      position: fixed;
      right: 24px;
      bottom: 100px;
      gap: 12px;
      z-index: 1001;
    }
  }

  &__option-button {
    display: flex;
    padding: 8px 12px;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
    border-radius: 999px;
    align-items: center;
    gap: 8px;
  }

  &__option-text {
    font-family: Pretendard, sans-serif;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
  }

  &__write {
    padding: 8px 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid #e1e1e1;
    border-radius: 999px;
    background-color: #fafafa;
    color: #4b4b4b;
    font-family: Pretendard, sans-serif;
    font-weight: 500;
    line-height: 1.2;

    @include media.media-breakpoint(mobile) {
      position: fixed;
      right: 24px;
      bottom: 24px;
      padding: 8px 12px;
      border-radius: 24px;
      font-size: 16px;
      line-height: 1.6;
      z-index: 1002;
    }
  }

  &--active {
    @include media.media-breakpoint(mobile) {
      z-index: 1003;
    }
  }
}

.overlay {
  @include media.media-breakpoint(mobile) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 / 40%);
    z-index: 1000;
  }
}
