@use 'src/utils/scss/media' as media;
@use 'src/components/Articles/utils/scss/lostItemsGrid' as grid;

.header {
  border-top: 2px solid #175c8e;
  font-size: 13px;
  width: 100%;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    border: none;
  }

  &__container {
    width: 100%;
    height: 44px;
    font-weight: bold;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: grid.$lost-items-columns;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid #175c8e;
  }
}

.info {
  min-width: 0;
  height: 100%;
  font-size: 15px;
  color: #175c8e;

  display: flex;
  align-items: center;
  justify-content: center;
}
