@use "utils/scss/media.scss" as media;

.page {
  &__title {
    text-align: left;
    font-family: NanumSquare, serif;
    font-size: 30px;
    font-weight: 800;
    color: #175c8e;
    width: 100%;
    height: 32px;
    margin: 0 0 21px;
    padding-bottom: 26px;
    border-bottom: 2px solid #175c8e;

    &--sub {
      font-size: 20px;
      font-weight: 800;
      line-height: 1.2;
      border-bottom: 0;
      color: #175c8e;
      margin-bottom: 26px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 766px 1fr;
    grid-template-rows: 535px 336px;
    gap: 66px 28px;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__depart {
    width: 200px;
  }

  &__semester {
    width: 150px;
  }

  &__curriculum-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__curriculum {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    letter-spacing: -0.2px;
    color: #252525;
    width: 158px;
    height: 38px;
    border: 1px solid #f7941e;
    background-color: #fff;
    margin-bottom: 17px;
    cursor: pointer;
  }

  &__last-update {
    display: flex;
    justify-content: end;
    font-size: 14px;
    color: #888686;
    margin-top: 5px;

    &--info {
      margin-left: 4px;
    }
  }

  &__timetable-wrap {
    height: 560px;
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(23 92 142);
    padding: 1px 6px;
    width: 170px;
    height: 45px;
    background-color: rgb(23 92 142);
    font-size: 15px;
    line-height: 1.6;
    color: rgb(253 253 253);
    cursor: pointer;

    & > img {
      width: 24px;
      height: 24px;
    }
  }
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid rgb(210 218 226);
  width: 322px;
  height: 42px;

  &__input {
    margin-right: 0;
    border: none;
    width: 249px;
    height: 32px;
    font-size: 15px;
    text-align: left;
    color: rgb(37 37 37);
    background-color: rgb(255 255 255);
    position: relative;
  }

  &__button {
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
  }

  &__table {
    &--all {
      height: 459px;
    }

    &--selected {
      height: 177px;
    }
  }
}

.list {
  &__button {
    padding-left: 10px;
    line-height: 34px;
    cursor: pointer;
    border: 0;
    width: 22px;
    height: 34px;
    text-align: center;
    background-color: transparent;

    & > img {
      position: relative;
      top: 6px;
      right: 1px;
      width: 22px;
    }
  }
}

.dropdown-loading-spinner {
  margin: 10px auto;
  background-color: white;
  width: 50px;
  height: 50px;
}

.top-loading-spinner {
  margin: 208px auto;
  background-color: white;
  width: 100px;
  height: 100px;
}

.central-loading-spinner {
  margin: auto 650px;
  background-color: white;
  width: 20px;
  height: 20px;
}

.bottom-loading-spinner {
  margin: 100px auto;
  background-color: white;
  width: 100px;
  height: 100px;
}
