@use "src/utils/scss/media" as media;

.template {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    font-family: NanumSquare, serif;
    font-size: 17px;
    font-weight: bold;
    color: #175c8e;
    text-decoration: none;

    @include media.media-breakpoint(mobile) {
      font-size: 15px;
      color: #175c8e;
      padding-left: 3px;
      margin-left: 16px;
      width: 100px;
    }
  }
}

.category {
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 18px 5px;
    gap: 23px;
  }

  &__item {
    width: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: black;
    text-decoration: none;

    &:hover {
      color: #f7941e;
    }
  }

  &__image {
    width: 56px;
    height: 56px;
    border-width: 50%;

    @media (max-width: 576px) {
      width: 40px;
      height: 40px;
    }
  }
}
