.bar {
  display: flex;
  gap: 12px;
  box-sizing: border-box;
  width: 100%;
  margin-top: auto;
  padding: 16px 24px 24px;

  &__reject {
    flex: 1;
    padding: 0 24px;
    height: 48px;
    border: 0.5px solid #b611f5;
    border-radius: 16px;
    background: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    color: #b611f5;
    cursor: pointer;

    &:disabled {
      border-color: #cacaca;
      color: #cacaca;
      cursor: default;
    }
  }

  &__accept {
    flex: 1;
    padding: 0 24px;
    border: none;
    height: 48px;
    border-radius: 16px;
    background: #b611f5;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
    cursor: pointer;

    &:disabled {
      background: #cacaca;
      cursor: default;
    }
  }

  &__accepted,
  &__rejected {
    flex: 1;
    padding: 0 24px;
    height: 48px;
    border-radius: 16px;
    background: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    cursor: default;
  }

  &__accepted {
    border: 0.5px solid #980ac9;
    color: #980ac9;
  }

  &__rejected {
    border: 0.5px solid #ec2d30;
    color: #ec2d30;
  }

  &__chat {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
