.image {
  position: relative;
  width: 202px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 0;
  flex-shrink: 0;
  overflow: hidden;

  &--no-image {
    cursor: default;
  }

  & img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  &--sold-out {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #00000080;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
  }
}
