.picker {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; // iOS 모멘텀 스크롤
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // Internet Explorer 10+

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    pointer-events: none;
    z-index: 1;
  }
}

.items {
  padding-top: 48px;

  &__item {
    color: #727272;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-align: right;

    &--selected {
      color: #175c85;
    }
  }
}
