@use "src/utils/scss/media" as media;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1132px;
  margin: 64px auto 100px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    margin: 0;
  }
}

.container > header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobile-top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 24px;
}

.title {
  color: #175c8e;
  font-family: Pretendard, sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.mobile-title {
  font-family: Pretendard, sans-serif;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.sub-title {
  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 18px;
  line-height: 160%;
}

.notion-info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  border-radius: 8px;
  background: #f1f8ff;
  box-shadow: 0 1px 1px 0 #00000005, 0 2px 4px 0 #0000000a;
  margin-top: 24px;
  margin-bottom: 32px;

  &__info-title {
    overflow: hidden;
    color: #175c8e;
    text-align: center;
    text-overflow: ellipsis;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  &____placeholder {
    min-height: 89.6px;
  }

  @include media.media-breakpoint(mobile) {
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
    margin-top: 0;
    margin-bottom: 8px;
  }
}
