.sheet {
  width: 100%;
  background: #fff;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 12px 30px rgba(0 0 0 / 18%);
}

.sheetInner {
  height: 100%;
  padding: 20px 20px 24px;
  margin-bottom: 40px;
}
