.template {
  width: 1131px;
  margin: 68px auto 84px;
  min-height: 900px;
}

.title {
  font-family: NanumSquare, sans-serif;
  letter-spacing: -1.5px;
  font-size: 30px;
  font-weight: 800;
  color: #175c8e;
  margin-bottom: 21px;
}

.content {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #175c8e;
  padding-top: 18px;
  height: 878px;
}

.map {
  width: 752px;
  height: 100%;
}

.list {
  padding-left: 13px;
  overflow: scroll;
  width: 363px;
  height: 878px;
  display: grid;
  grid-template-columns: repeat(2, 173px);
  gap: 15px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__box {
    box-shadow: 0 3px 6px 0 rgba(0 0 0 / 16%);
    height: 164px;
    border: 1px #d2dae2 solid;
    cursor: pointer;

    &:hover {
      border: 1px solid #f7941e;
    }
  }

  &__name {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #252525;
  }
}

.fee {
  height: calc(100% - 116px);
  background-color: #f9f9f9;
  font-size: 12px;
  color: #858585;
  padding: 10px;

  &__info {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;

    span:nth-child(2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__monthly {
    background-color: #4db297;
    width: 40px;
    text-align: center;
    border-radius: 15px;
    line-height: 2;
    color: #f3f3f3;
  }

  &__charter {
    margin-top: 4px;
    background-color: #f7941e;
    width: 40px;
    text-align: center;
    margin-right: 9px;
    border-radius: 15px;
    line-height: 2;
    color: #f3f3f3;
  }
}
