@use 'src/utils/scss/media' as media;

.chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 500;
  background-color: #ffa928;
  color: #fff;
  padding: 4px 8px;

  &--found {
    background-color: #f5f5f5;
    color: #cacaca;
  }

  &--xs {
    width: 47px;
    height: 21px;
    font-size: 14px;
  }

  &--small {
    font-size: 18px;
    height: 29px;
    width: 64px;
  }

  &--large {
    font-weight: 700;
    font-size: 26px;
    height: 39px;
    width: 84px;
  }

  @include media.media-breakpoint(mobile) {
    padding: 2px 4px;
    font-size: 12px;
    height: 23px;
    width: 40px;
  }
}
