@use "src/utils/scss/media" as media;

.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border-radius: 16px;
  background: #fff;
  padding: 24px;

  @include media.media-breakpoint(mobile) {
    width: 75%;
    height: auto;
  }
}

.modal-title {
  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 34px;

  @include media.media-breakpoint(mobile) {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.info-row {
  display: flex;
  gap: 0.5rem;

  &__description {
    margin-top: 20px;
  }
}

.info-text {
  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 20px;
  font-weight: 500;

  @include media.media-breakpoint(mobile) {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
  }
}

.form__text-input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #4590bb;
  background: #f5f5f5;

  @include media.media-breakpoint(mobile) {
    padding: 8px 12px;
    color: #1f1f1f;
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
}

.info-button-container {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 16px;
  margin-top: 34px;
}

.info-button {
  &__cancel {
    width: 100%;
    border-radius: 4px;
    padding: 6px 12px;
    border: 1px solid #4b4b4b;
    cursor: pointer;
    color: #4b4b4b;
    font-family: Pretendard, sans-serif;
    font-size: 22px;
    font-weight: 500;

    @include media.media-breakpoint(mobile) {
      font-size: 15px;
      font-weight: 500;
    }
  }

  &__confirm {
    width: 100%;
    border-radius: 4px;
    padding: 6px 12px;
    background: #175c8e;
    cursor: pointer;
    color: #fff;
    font-family: Pretendard, sans-serif;
    font-size: 22px;

    @include media.media-breakpoint(mobile) {
      font-size: 15px;
    }
  }

  &__reset {
    border-radius: 4px;
    background: #eb6f70;
    width: 100%;
    padding: 6px 12px;
    gap: 10px;
    color: #fff;
    font-family: Pretendard, sans-serif;
    font-size: 22px;
    font-weight: 500;

    @include media.media-breakpoint(mobile) {
      font-size: 15px;
    }
  }
}
