@use "src/utils/scss/media" as media;

.template {
  width: 1132px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
  }
}
