.template {
  width: 1131px;
  margin: 68px auto 20px;
}

.title {
  font-family: NanumSquare, sans-serif;
  letter-spacing: -1.5px;
  font-size: 30px;
  font-weight: 800;
  color: #175c8e;
  padding-bottom: 21px;
  border-bottom: 2px solid #175c8e;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 224px;
  font-size: 30px;
  font-weight: bold;
}

.info {
  border: 1px solid rgb(210 218 226);
  margin-bottom: 20px;
  padding: 60px 211px;
  text-align: center;
  height: 100%;

  &__title {
    font-family: NanumBarunGothic, serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.5px;
    margin: 20px 0 30px;
  }
}

.table {
  width: 100%;
  border-top: 1px solid #175c8e;
  border-bottom: 1px solid #175c8e;
  font-family: NanumBarunGothic, serif;
  font-size: 14px;
  color: #828282;
  line-height: 2.8;
  border-collapse: collapse;

  &__row {
    border-top: #175c8e4d 1px solid;
  }

  &__title {
    color: #828282;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
  }

  &__cell {
    width: 280px;
    height: 40px;
    color: #252525;
    font-size: 15px;
  }
}

.img-slider {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__img-arrow {
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background-color: #fff;
  }

  &__img {
    height: 400px;

    & > img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  &__no-img {
    margin-top: 35px;
    width: 100%;
    height: 400px;

    & > img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  &__indx {
    position: absolute;
    width: 54px;
    height: 23px;
    opacity: 0.8;
    border-radius: 12px;
    background-color: #252525;
    font-family: NanumBarunGothic, serif;
    font-size: 12px;
    line-height: 2;
    color: #fff;
    bottom: 10px;
    left: calc(50% - 27px);
  }
}

.option {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  line-height: 1.71;
  color: #828282;

  &__builtIn {
    opacity: 1;
  }

  &__builtNot {
    opacity: 0.2;
  }
}
