@use "src/utils/scss/media" as media;

.post-content {
  height: 68px;
  cursor: pointer;
  border-bottom: 1px #d2dae2 solid;
  display: flex;

  &:hover {
    background: #f8fafb;
  }

  @include media.media-breakpoint(mobile) {
    height: 75px;
    display: block;
    border-bottom: 1px solid #ececec;
  }
}

.post-id {
  width: 85px;
  font-size: 15px;
  height: 100%;
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.post-title {
  height: 100%;
  color: #252525;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 412px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.post-author {
  width: 150px;
  height: 100%;
  color: #175c8e;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.post-created_at {
  width: 70px;
  height: 100%;
  color: #252525;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.post-views {
  width: 108px;
  height: 100%;
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}
