@use "src/utils/scss/media" as media;

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(23 23 23 / 30%);
}

.modal {
  width: 431px;
  height: 256px;
  margin-bottom: 100px;
  border-radius: 16px;
  background-color: #fff;

  @include media.media-breakpoint(mobile) {
    width: 301px;
    height: 140px;
    padding: 24px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__close {
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #f5f5f5;

    & svg {
      width: 24px;
      height: 24px;
    }

    & path {
      fill: #727272;
    }
  }

  &__title {
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pretendard, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    @include media.media-breakpoint(mobile) {
      height: auto;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.6;
    }
  }

  &__buttons {
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media.media-breakpoint(mobile) {
      height: auto;
      flex-direction: row-reverse;
      gap: 12px;
    }

    & button {
      width: 383px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      padding-top: 2px;
      gap: 8px;
      font-family: Pretendard, sans-serif;
      line-height: 1.6;

      @include media.media-breakpoint(mobile) {
        width: 105px;
        height: 46px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.buttons {
  &__delete {
    background-color: #175c8e;
    font-size: 16px;
    font-weight: 500;
    color: #fff;

    & svg {
      width: 24px;
      height: 24px;
    }

    & path {
      fill: #d9d9d9;
    }
  }

  &__cancel {
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #000;

    @include media.media-breakpoint(mobile) {
      border: 1px solid #cacaca;
      color: #4b4b4b;
    }
  }
}
