@use "src/utils/scss/media" as media;

.template {
  margin: 61px auto 0;
  width: 1132px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    margin-top: 0;
  }
}

.content {
  width: 834px;
  float: left;
  margin-right: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    min-height: calc(100vh - 115px);
    margin: 0;
  }
}

.header {
  width: 100%;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-family: Pretendard, sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #175c8e;
    margin: 0;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__container {
    display: flex;
    gap: 20px;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #4b4b4b;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
    padding: 8px 12px;
    border-radius: 999px;
  }

  &__button-context {
    color: #4b4b4b;
    align-items: center;
    line-height: normal;
    font-family: Pretendard, sans-serif;
  }

  &__writing-options {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__option-button {
    display: flex;
    padding: 8px 12px;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
    border-radius: 999px;
    align-items: center;
    gap: 8px;
  }

  &__option-text {
    font-family: Pretendard, sans-serif;
    color: #4b4b4b;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
