@use 'src/utils/scss/media' as media;

.template {
  margin: 61px auto 0;
  width: 1132px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    margin-top: 0;
  }
}

.lostItem-template {
  display: flex;
  margin-top: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  gap: 40px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    margin-top: 0;
    padding: 0;
  }
}

.content {
  width: 834px;
  float: left;
  margin-right: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    min-height: calc(100vh - 115px);
    margin: 0;
  }
}

.lostItem-content {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    height: 100dvh;
    margin: 0;
    overflow: hidden;
  }
}

.header {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    margin: 4px 0;
  }

  &__title {
    font-family: Pretendard, sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #175c8e;
    margin: 0;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    gap: 8px;

    @include media.media-breakpoint(mobile) {
      margin-bottom: 4px;
      padding: 4px 24px;
      box-sizing: border-box;
    }
  }

  &__rightButton {
    margin-left: auto;
    flex-shrink: 0;
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  color: #4b4b4b;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0 1px 9px 1px rgba(0 0 0 / 6%);
  max-width: 550px;
  flex: 1;
  min-width: 0;
  width: auto;

  @include media.media-breakpoint(mobile) {
    width: 230px;
    padding: 8px 12px;
    border: 4px;
    background: #f5f5f5;
    box-shadow: none;
    gap: 4px;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    color: #4b4b4b;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 400;

    @include media.media-breakpoint(mobile) {
      font-size: 14px;
      background: #f5f5f5;
    }
  }
}

.listScroll {
  @include media.media-breakpoint(mobile) {
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    overflow-y: auto;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}
