@use "src/utils/scss/media" as media;

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0 0 0 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0 0 0 / 20%);
  z-index: 1000;
  align-items: center;
  justify-content: center;

  &__close-Modal {
    display: flex;
    padding: 16px 24px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    @include media.media-breakpoint(mobile) {
      padding: 12px;
    }
  }
}
