.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.direction {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
}

.notice {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &__description {
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    color: #8e8e8e;
  }
}
