.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Pretendard, sans-serif;
  margin: 120px 0 300px;

  &__wrapper {
    max-width: 640px;
  }

  &__title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--title {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
    }

    &--icon {
      visibility: hidden;
    }
  }

  &__subTitleWrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: row-reverse;
    width: 100%;
    padding: 8px;

    &-subTitle {
      font-size: 12px;
      font-weight: 400;
      line-height: 160%;

      .required {
        color: #ec2d30;
      }
    }
  }
}

.divider {
  width: 640px;
  border: 2px solid #175c8e;

  &--top {
    margin: 0 0 48px;
  }

  &--bottom {
    margin: 40px 0;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.name-wrapper,
.gender-wrapper,
.number-wrapper,
.verification-wrapper {
  display: grid;
  grid-template-columns: 160px 1fr auto;
  align-items: center;
  gap: 16px;
  padding: 0 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;

  label {
    justify-self: start;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    .required {
      color: #ec2d30;
    }
  }
}

.input-wrapper {
  position: relative;
}

.checkbox-wrapper {
  display: flex;
  gap: 32px;

  &__checkbox {
    display: flex;
    gap: 8px;
  }
}

.label-count-number {
  margin-left: 8px;
  color: #727272;
  font-family: Pretendard, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 160%;
}

.button-wrapper {
  display: flex;
  gap: 32px;

  &__next-button-student {
    display: flex;
    width: 240px;
    height: 64px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #cacaca;
    color: #fff;
    text-align: center;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;

    &--active {
      background-color: #f7941e;
    }
  }

  &__next-button-external {
    display: flex;
    width: 240px;
    height: 64px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #cacaca;
    color: #fff;
    text-align: center;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;

    &--active {
      background-color: #175c8e;
    }
  }

  &--active {
    background-color: #f7941e;
  }
}

.label-link-wrapper {
  display: flex;
  position: absolute;
  top: 74px;
  align-items: center;

  &__text {
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    color: #727272;
  }

  &__button {
    margin-left: 8px;
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    color: #175c8e;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

.label-link-button {
  margin-left: 8px;
  font-family: Pretendard, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  color: #175c8e;
}
