.block {
  width: 276px;
  min-height: 178px;
  height: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: white;
  position: absolute;
}

.header {
  width: 100%;
  position: relative;

  &__place {
    font-family: Pretendard, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
  }

  &__detail {
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #8e8e8e;
  }

  &__chip {
    width: auto;
    height: 26px;
    padding: 0 6px;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: right;

    &--sold-out {
      color: #ffad0d;
      background-color: #fff7e1;
    }

    &--changed {
      color: #4b4b4b;
      background-color: #eee;
    }
  }
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;

  &__menu > * {
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
  }

  &__like {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 4px;
    gap: 4px;
    margin-inline: auto 0;

    &:hover {
      border-radius: 8px;
      background: #f5f5f5;
    }

    &__count {
      font-family: Pretendard, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 19.2px */
      color: #4b4b4b;
    }
  }
}
