.detail {
  background-color: #fff;
  padding-bottom: 140px;
  line-height: 1.6;

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    min-height: 113px;
    box-sizing: border-box;
    padding: 16px 24px;
    border-bottom: 1px solid #cacaca;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &__subtitle {
    color: #727272;
    font-size: 14px;
  }

  &__directions {
    display: flex;
  }

  &__direction {
    flex: 1;
    padding: 12px 16px;
    color: #727272;
    font-size: 14px;

    &--selected {
      color: #b611f5;
      border-bottom: 2px solid #b611f5;
      font-weight: 600;
    }
  }

  &__table-wrapper {
    overflow-x: auto;
  }

  &__feedback {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 40px 24px 0;
    color: #727272;
    font-size: 12px;
  }
}

.bus-type {
  padding: 1px 8px;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 500;

  @each $type, $color,
    $background in (("circulation", #0c9d61, #e5f5ec), ("weekday", #ffad0d, #fff9ee), ("weekend", #3a70e2, #e4f2ff))
  {
    &--#{$type} {
      color: $color;
      background-color: $background;
    }
  }
}

.timetable {
  width: 100%;

  th,
  td {
    vertical-align: middle;
  }

  thead {
    background-color: #f5f5f5;

    th {
      padding: 8px 24px 8px 16px;
      color: #4b4b4b;
      font-size: 14px;
      text-align: left;
    }
  }

  tbody {
    th,
    td {
      padding: 10px 24px 10px 16px;
    }
  }

  tr > :first-child {
    width: 86px;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 0;
    text-align: center;
  }

  &__time {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  &__stop {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }

  &__description {
    display: block;
    color: #727272;
    font-size: 12px;
    font-weight: 400;
  }

  &--multiple {
    width: max-content;
    min-width: 100%;

    tr > :first-child {
      width: 156px;
      min-width: 156px;
      padding: 4px 12px 4px 28px;
      text-align: left;
      border-right: 1px solid #e1e1e1;
    }

    tr > :not(:first-child) {
      min-width: 68px;
      box-sizing: border-box;
      padding: 8px;
      text-align: center;
    }

    tbody tr {
      height: 50px;
    }

    thead tr > :first-child {
      padding: 8px 12px 8px 24px;
    }
  }
}
