@use "utils/scss/media.scss" as media;

@mixin inherit-text-style {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
}

@mixin scrollbar($width) {
  /* Firefox 전용 스크롤바 스타일 */
  @-moz-document url-prefix("") {
    & {
      scrollbar-width: thin;
      scrollbar-color: #d9d9d9 transparent;
    }
  }

  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    height: 65px;
    border-radius: 5px;
    background: #d9d9d9;
  }
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 5px;

  @include media.media-breakpoint(mobile) {
    font-size: 13px;
  }

  @include inherit-text-style;

  svg:not(.select__delete svg) {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
  }

  &--opened {
    svg:not(.select__delete svg) {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }

  &__trigger {
    position: relative;
    width: 100%;
    padding: 16px 24px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include inherit-text-style;

    background-color: #fff;
    color: inherit;
    cursor: pointer;

    &--white-background {
      border: 1px solid #e1e1e1;
    }

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #e1e1e1;
    }

    @include media.media-breakpoint(mobile) {
      padding: 16px;
    }
  }

  &__contents-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: max-content;
    min-width: 100%;
    max-width: 100%;
    box-shadow: 0 8px 32px 0 #00000014;
    background-color: #fafafa;
    overflow: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;

    @include scrollbar(8px);

    &::-webkit-scrollbar-thumb {
      border: 3px solid #fff;
      background-clip: padding-box;
    }

    &--white-background {
      min-width: calc(100% - 2px);
      border: 1px solid #cacaca;
      border-radius: 5px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 24px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fafafa;
    color: #8e8e8e;

    @include inherit-text-style;

    cursor: pointer;

    &[aria-selected="true"] {
      color: #175c8e;
    }

    &:hover {
      background-color: #eee;
      border-radius: 5px;
    }

    &:active {
      background-color: #e1e1e1;
    }
  }
}
