.state {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 576px;
  min-height: 100dvh;
  margin: 0 auto;
  background: #f8f8fa;
  color: #727272;
  font-size: 14px;
  line-height: 160%;
}
