@use "src/utils/scss/media" as media;

.container {
  width: 1132px;
  display: flex;
  flex-direction: column;
  
  gap: 48px;
  margin: 0 auto;
  padding-top: 64px;

  @include media.media-breakpoint(mobile) {
    width: calc(100vw - 24px);
  }
}

.title {
  color: #175c8e;
  font-size: 32px;
  font-weight: 500;
}

.chat-container {
  display: grid;
  grid-template-columns: 375px 2fr;
  width: 100%;
  height: calc(100vh - 540px);
}

.chat-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 540px);
  overflow-y: auto;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.chat-view {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 540px);
  border: 1px solid #eee;
  background: #fafafa;
}

.chat-list--item {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 18px 24px;
  align-items: center;
  gap: 12px;

  &:hover {
    background: #eee;
  }
}

.chat-list--item--profile {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 12px;
  border: 1px solid #eee;
  background: #fafafa;
  overflow: hidden;
}

.message-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 12px;
  background:#E4F2FF;
  cursor: pointer;
}

.chat-list--item--image {
  width: auto;
  height: auto;
  max-height: 48px;
  border-radius: 12px;
}

.chat-list--item--content {
  width: 100%;
  max-width: 265px;
  display: flex;
  flex-direction: column;
}

.chat-list--item--title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  & > div:first-child {
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
  }
  
  & > div:last-child {
    min-width: 54px;
    color: #727272;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 160%; /* 19.2px */
  }
}

.chat-list--item--description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-list--preview-content {
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  color: #727272;
  font-size: 12px;
  line-height: 160%; /* 19.2px */
}

.chat-list--message-count {
  display: flex;
  height: 20px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: #175c8e;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 160%; /* 19.2px */
}

.chat-view--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid #eee;
  background: #fff;

  & > div:first-child {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  & > div:last-child {
    color: #727272;
    text-align: center;
    font-size: 14px;
    line-height: 160%; /* 22.4px */
  }
}

.chat-view--title {
  color: #1f1f1f;
  font-size: 22px;
  font-weight: 500;
  max-width: 580px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.chat-block {
  display: flex;
  align-items: center;
  gap: 6px;
}

.chat-input-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  border: 1px solid #eee;
  background: #f5f5f5;
}

.chat-input-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  min-height: 50px;
  max-height: 158px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.chat-input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 11.5px 16px;
  border: none;
  border-radius: 12px;
  background: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  resize: none;
  height: 45px;
  max-height: calc(45px * 4);
  overflow-y: auto;

  &::placeholder {
    color: #727272;
  }
}

.chat-input--photo {
  display: flex;
  justify-content: center;
  align-items: center;

  & input {
    display: none;
  }
}

.message-container {
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 24px 8px 24px;
  overflow-y: auto;
}

.message-date-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border-radius: 16px;
  background: #EEE;
  color: #10477a;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
  width: fit-content;
  margin: 16px auto;
}

.message-item-container {
  display: flex;
  flex-direction: column;
}

.message-item--header {
  display: flex;
  gap: 6px;
  align-items: center;
}

.message-item--profile {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #175C8E;
}

.message-item--name {
  color: #4B4B4B;
  font-size: 12px;
  line-height: 160%; /* 19.2px */
}

.message-item {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  margin: 8px 0;
  
  &__right {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 8px 0;
  }
}

.message-item--content {
  display: block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 160%;
  border-radius: 8px;
  background: #f1f8ff;
  width: fit-content;
  max-width: 360px;

  &__right {
    display: block;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 160%;
    border-radius: 8px;
    opacity: 0.8;
    background: #f5f5f5;
    width: fit-content;
    max-width: 360px;

    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-item--time {
  color: #727272;
  font-size: 12px;
  line-height: 160%;
}

.message-item--content-image {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}