@use "utils/scss/media.scss" as media;

.page {
  background-color: #f5f5f5;
  min-height: 1032px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    background-color: white;
    margin: 15px auto 16px;
    padding: 0;
  }
}
