@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast {
  position: fixed;
  top: 92px;
  left: calc(50vw - 446.5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 845px;
  height: 30px;
  padding: 18px 24px;
  border-radius: 5px;
  background-color: #041a44cc;
  z-index: 30;
  animation: slide-down 500ms;

  &__close {
    animation: slide-up 400ms;
  }

  &__message {
    color: #fff;
    font-size: 16px;
    line-height: 25.6px;
  }

  &__button {
    font-size: 16px;
    color: #f7941e;
    padding: 4px 16px;
    border: none;
    font-weight: 500;
    line-height: 25.6px;
    border-radius: 5px;

    &:hover {
      color: #fff;
      background-color: #0000004d;
    }

    &:active {
      background-color: #00000080;
      color: #f7941e;
    }
  }
}
