@use "utils/scss/media.scss" as media;

.graduation-calculator {
  &__button {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 12px;
    height: 48px;
    background-color: #fff;
    font-family: Pretendard, sans-serif;
    cursor: pointer;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    color: #4b4b4b;

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #e1e1e1;
    }
  }
}
