@use "src/utils/scss/media" as media;

.template {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;

  @include media.media-breakpoint(mobile) {
    text-align: center;
  }

  &__content {
    width: 390px;
    margin: 80px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media.media-breakpoint(mobile) {
      min-width: 360px;
      margin: 80px auto;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 40px;

    @include media.media-breakpoint(mobile) {
      margin-bottom: 60px;
      margin-right: 17px;
    }
  }

  &__image {
    width: 125px;
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      width: 105px;
    }
  }

  &__go-back {
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      top: 15px;
      left: 10px;
    }
  }

  &__left-arrow-image {
    width: 35px;
    height: 35px;

    @include media.media-breakpoint(mobile) {
      width: 30px;
      height: 30px;
    }
  }
}
