@use "src/utils/scss/media" as media;

.template {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;

  @include media.media-breakpoint(mobile) {
    text-align: center;
  }

  &__content {
    width: 390px;
    margin: 80px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media.media-breakpoint(mobile) {
      margin: 0 48px;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 40px;

    @include media.media-breakpoint(mobile) {
      margin-bottom: 32px;
      align-self: flex-start;
    }
  }

  &__image {
    width: 125px;
    cursor: pointer;

    @include media.media-breakpoint(mobile) {
      width: 105px;
    }
  }
}
