@use "src/utils/scss/media" as media;

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 24px 0;
  padding: 0 0 36px;
  border-bottom: 1px solid #10477a;

  @include media.media-breakpoint(mobile) {
    margin: 0;
    padding: 12px 24px;
    border-bottom: 6px solid #f5f5f5;
  }
}

.messageContainer {
  min-height: 257px;

  @include media.media-breakpoint(mobile) {
    min-height: 166px;
  }
}

.heading {
  @include media.media-breakpoint(mobile) {
    display: flex;
    gap: 2px;
    align-items: center;
    margin: 0 0 8px;
  }
}

.title {
  margin: 0 0 12px;
  color: #175c8e;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;

  @include media.media-breakpoint(mobile) {
    margin: 0;
    color: #600481;
    font-size: 14px;
    line-height: 1.6;
  }
}

.aiIcon {
  display: none;

  @include media.media-breakpoint(mobile) {
    display: block;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include media.media-breakpoint(mobile) {
    gap: 22px;
  }
}

.item {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;

  @include media.media-breakpoint(mobile) {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
  }
}

.icon {
  margin: 0 6px 0 0;

  @include media.media-breakpoint(mobile) {
    margin: 0 4px 0 0;
  }
}

.text {
  overflow-wrap: anywhere;
}

.message {
  margin: 68px 0 0;
  color: #727272;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-align: center;

  @include media.media-breakpoint(mobile) {
    margin: 32px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
  }
}
