.header {
  --header-side-width: 24px;

  display: grid;
  grid-template-columns: var(--header-side-width) minmax(0, 1fr) var(--header-side-width);
  align-items: center;
  padding: 16px 24px;
  flex-shrink: 0;

  &__back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__title {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    color: #000;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--medium {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &__right-action {
    display: flex;
    justify-self: end;
    width: max-content;
  }

  &__spacer {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
