@use "src/utils/scss/media" as media;

.layout {
  width: 100%;
  height: 100%;
  padding: 3% 2%;
  box-sizing: border-box;
}

.form-image {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  &__label-text div {
    color: #727272;
    text-align: center;
    font-family: Pretendard, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
  }

  &__preview {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    min-width: 200px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.button-group {
  &__top {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    &__button {
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 6px 12px;
      background-color: #175c8e;
      color: white;
      font-size: 14px;
      font-weight: 500;
      font-family: Pretendard, sans-serif;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #144a7a;
      }
    }
  }
}

.form-label {
  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;

  &__name {
    color: #000;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}

.form {
  &__text-input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #4590bb;
    background: #f5f5f5;
    margin: 12px 0;

    &:focus {
      outline: none;
      border-color: #175c8e;
    }
  }

  &__textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 16px;
    border: 1px solid #4590bb;
    border-radius: 4px;
    font-size: 14px;
    font-family: Pretendard, sans-serif;
    background: #f5f5f5;
    resize: none;
    overflow: hidden;
    max-height: 200px;
    margin-top: 12px;
    margin-bottom: 12px;

    &:focus {
      outline: none;
      border-color: #175c8e;
    }
  }
}

.dropdown {
  position: relative;
  width: 100px;

  &__trigger {
    width: 100%;
    padding: 8px 4px 8px 12px;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #000;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 400;

    &--active {
      border-bottom: none;
      border-radius: 8px 8px 0 0;
    }
  }

  &__arrow {
    transition: transform 0.2s;
  }

  &__menu {
    position: absolute;
    top: 43px;
    left: 0;
    width: calc(100% - 2px);
    background-color: #fafafa;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    z-index: 10;
  }

  &__option {
    padding: 0.6rem 1rem;
    color: #4b4b4b;
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;

    &:hover,
    &--selected {
      background: #d0d0d0;
    }
  }

  &--open {
    .dropdown__menu {
      display: block;
    }

    .dropdown__arrow {
      transform: rotate(180deg);
    }
  }
}

.form-category {
  display: flex;
  align-items: center;
  gap: 10px;

  &__description {
    color: #4b4b4b;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  margin-bottom: 12px;
}

.form-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.form-contact .form__text-input {
  max-width: 270px;
}

.name-header {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.like svg {
  width: 24px;
  height: 24px;
}
