@use "utils/scss/media.scss" as media;

.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;

  @include media.media-breakpoint(mobile) {
    padding: 0 16px;
    background-color: #fff;
  }
}

.place {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 53px;

  @include media.media-breakpoint(mobile) {
    margin-top: 24px;
  }
}

.results {
  width: 720px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
  }
}

.fallback {
  height: 70vh;
}
