.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}

.picker {
  position: relative;
  width: 100%;
  height: 200px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 2;
    pointer-events: none;
  }

  &::before {
    top: 0;
    background: linear-gradient(to bottom, rgb(245 245 245 / 100%) 0%, rgb(245 245 245 / 0%) 100%);
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to top, rgb(245 245 245 / 100%) 0%, rgb(245 245 245 / 0%) 100%);
  }
}

.highlight {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  height: 40px;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 8px;
  z-index: 1;
  pointer-events: none;
}

.columns {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.column {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}

.padding {
  height: 80px;
  width: 100%;
  flex-shrink: 0;
}

.item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #727272;
  font-weight: 500;
  cursor: pointer;
  scroll-snap-align: center;

  &[data-selected="true"] {
    color: #175c8e;
    font-weight: 700;
    font-size: 16px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 8px 16px;
}

.action-button {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 0;
}
