@use "src/utils/scss/field-label" as field-label;
@use "src/utils/scss/media" as media;

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__label {
    @include field-label.label;

    &-required {
      color: #175c8e;
    }
  }

  @include media.media-breakpoint(mobile) {
    padding: 12px 0;

    &__label-required {
      color: #b611f5;
    }
  }
}

.schedule {
  display: flex;
  gap: 24px;

  &__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: #000;
  }

  &__range {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__separator {
    font-size: 16px;
    font-weight: 600;
    color: #727272;
  }

  &__date {
    flex: 1;
    height: 35px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background: #fff;
    color: #4b4b4b;
    font-size: 12px;
    cursor: pointer;
  }

  @include media.media-breakpoint(mobile) {
    flex-direction: column;
    gap: 12px;

    &__item {
      gap: 8px;
    }

    &__date {
      flex: none;
      width: 147px;
      border: 0;
      border-radius: 16px;
    }
  }
}
