.footer {
  width: 100%;
  margin-top: auto;
  background-color: #3e3e3e;
  color: #fff;
  font-size: 13px;

  &__content {
    width: 1132px;
    margin: 0 auto;
    padding: 44px 0 30px;
  }

  &__services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 44px;
    margin: 0 0 36px;
    padding: 0;
    list-style: none;
  }

  &__service {
    white-space: nowrap;

    > a {
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.7;
      letter-spacing: 0.8px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.sitemap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__logo {
    display: inline-block;
    width: 72px;

    > img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 25px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 7px 15px;
    box-sizing: border-box;
    border: 1px solid #9fa9b3;
    border-radius: 28px;
    color: #c9c9c9;
    font-size: 15px;
    letter-spacing: -0.1px;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }

    > a {
      color: currentcolor;
      text-decoration: none;
    }
  }

  &__copyright {
    width: 100%;
    margin-top: 20px;
    color: #b5b5b5;
    line-height: 1.08;
    letter-spacing: 0.15px;
    text-align: center;
  }
}
