@use "src/utils/scss/media" as media;

.footer {
  width: 100%;
  margin-top: auto;
  background-color: #3e3e3e;
  color: #fff;
  font-size: 13px;

  &__content {
    width: 1132px;
    margin: 0 auto;
    padding: 44px 0 30px;

    @include media.media-breakpoint(mobile) {
      display: block;
      width: auto;
      padding: 21px 16px 18px;
    }
  }

  &__services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 44px;
    margin: 0 0 36px;
    padding: 0;
    list-style: none;
  }

  &__service {
    white-space: nowrap;

    > a {
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.7;
      letter-spacing: 0.8px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.sitemap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    justify-content: center;
  }

  &__logo {
    display: inline-block;
    width: 72px;

    > img {
      width: 100%;
      height: auto;
    }

    @include media.media-breakpoint(mobile) {
      order: 2;
      width: 35px;
      margin-right: 20px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 25px;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    @include media.media-breakpoint(mobile) {
      gap: 0;
      width: 100%;
      margin: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 7px 15px;
    box-sizing: border-box;
    border: 1px solid #9fa9b3;
    border-radius: 28px;
    color: #c9c9c9;
    font-size: 15px;
    letter-spacing: -0.1px;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }

    > a {
      color: currentcolor;
      text-decoration: none;
    }

    @include media.media-breakpoint(mobile) {
      display: flex;
      align-items: flex-start;
      width: calc(33% - 8px);
      height: auto;
      margin: 0;
      padding: 0 0 10px;
      border: 0;
      font-size: 10px;
      font-weight: normal;
      line-height: 1.2;

      &:not(:nth-child(3n), :last-child) {
        &::after {
          position: absolute;
          margin-right: -104px;
          content: "|";
        }
      }
    }
  }

  &__copyright {
    width: 100%;
    margin-top: 20px;
    color: #b5b5b5;
    line-height: 1.08;
    letter-spacing: 0.15px;
    text-align: center;

    @include media.media-breakpoint(mobile) {
      order: 3;
      width: auto;
      margin-top: 0;
      margin-right: 17px;
      color: #7d7d7d;
      font-size: 9px;
      font-weight: normal;
      line-height: 1.11;
      letter-spacing: -0.57px;
      text-align: left;
    }
  }
}
