@use "src/utils/scss/media" as media;

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #3e3e3e;
  color: white;
  font-size: 13px;
  vertical-align: middle;

  &__content {
    width: 1132px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 44px;
    padding-bottom: 30px;

    @include media.media-breakpoint(mobile) {
      display: block;
      width: auto;
      padding: 21px 16px 18px;
    }
  }

  &__services {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0 0 36px auto;
  }

  &__service {
    margin-right: 44px;

    &:last-child {
      margin-right: 0;
    }

    & > a {
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      text-decoration: none;
      line-height: 1.7;
      letter-spacing: 0.8px;
      text-align: left;
      color: #9fa9b3;
      cursor: pointer;
    }
  }
}

.sitemap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @include media.media-breakpoint(mobile) {
    justify-content: center;
  }

  &__logo {
    display: inline-block;
    width: 72px;
    height: 100%;
    text-align: left;
    margin-right: 79px;

    & > img {
      width: 100%;
      height: 100%;
    }

    @include media.media-breakpoint(mobile) {
      order: 2;
      margin-right: 20px;
      width: 35px;
    }
  }

  &__content {
    display: flex;
    list-style: none;

    @include media.media-breakpoint(mobile) {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
  }

  &__link {
    height: 30px;
    box-sizing: border-box;
    border-radius: 28px;
    border: solid 1px #9fa9b3;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #c9c9c9;
    padding: 7px 15px;
    background-color: transparent;
    margin-right: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      font-weight: bold;
    }

    & > a {
      color: currentcolor;
      text-decoration: none;

      &:hover {
        font-weight: bold;
      }
    }

    @include media.media-breakpoint(mobile) {
      margin: 0;
      display: flex;
      align-items: flex-start;
      padding: 0 0 10px;
      border: 0;
      width: calc(33% - 8px);
      height: auto;
      font-size: 10px;
      font-weight: normal;
      line-height: 1.2;

      &:not(:nth-child(3n), :last-child) {
        &::after {
          position: absolute;
          margin-right: -104px;
          content: "|";
        }
      }
    }
  }

  &__icon-links {
    @include media.media-breakpoint(mobile) {
      order: 4;
    }
  }

  &__icon-link {
    margin-right: 30px;

    & > img {
      height: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    @include media.media-breakpoint(mobile) {
      margin-right: 16px;

      & > img {
        height: 20px;
      }
    }
  }

  &__copyright {
    margin-top: 20px;
    width: 100%;
    line-height: 1.08;
    letter-spacing: 0.15px;
    color: #b5b5b5;
    text-align: center;

    @include media.media-breakpoint(mobile) {
      order: 3;
      margin-right: 17px;
      margin-top: 0;
      width: auto;
      font-size: 9px;
      font-weight: normal;
      line-height: 1.11;
      letter-spacing: -0.57px;
      text-align: left;
      color: #7d7d7d;
    }
  }
}
