.header {
  position: sticky;
  top: 0;
  padding-top: 25px;
  left: 0;
  right: 0;
  background-color: rgb(255 255 255);
  z-index: 1;

  &__picker {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__date {
    margin: 0 7px;
  }

  &__pick-button {
    margin: 0;
    padding: 0;
    border: 0;
    width: 14px;
    height: 14px;
    background-color: transparent;
  }

  &__arrow {
    width: 7px;
    height: 7px;
    border-color: rgb(187 187 187);
    border-style: solid;
    border-image: none 100% / 1 / 0 stretch;
    border-width: 0 2px 2px 0;
    display: inline-block;
    cursor: pointer;

    &--left {
      transform: rotate(135deg);
    }

    &--right {
      transform: rotate(-45deg);
    }
  }

  &__time-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 10px;
  }

  &__time {
    width: 58px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid rgb(221 221 221);
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-align: center;
    color: rgb(43 43 43);
    background-color: rgb(221 221 221);
  }
}

.page {
  &__table {
    display: block;
  }
}

.category {
  &__empty {
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
  }
}

.category {
  margin-bottom: 33px;
  display: block;

  &__header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(23 92 142);
  }

  &__type {
    margin: 0 auto;
    width: 60px;
    padding: 0 12px;
    border-color: rgb(23 92 142);
    border-style: solid;
    border-width: 0 1px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.15;
    color: rgb(23 92 142);
    background-color: rgb(255 255 255);
    z-index: 1;
  }

  &__menu-list-row {
    display: flex;
    justify-content: space-around;
  }

  &__menu-list {
    width: 116px;
    text-align: left;
  }

  &__menu {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.48px;
    color: rgb(73 73 73);
  }

  &__calorie {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.9;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgb(126 126 126);
  }

  &__price {
    font-size: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgb(126 126 126);
    margin-top: 4px;
  }
}
