@use "src/utils/scss/media";

.template {
  width: 100%;
  min-height: calc(100vh - 84px);
  margin: auto;
  display: flex;
  justify-content: center;
}

.section {
  width: 1131px;
  margin: 63px auto 0;
  height: 120%;
  min-height: 700px;
  display: inline-block;

  @include media.media-breakpoint(mobile) {
    width: calc(100% - 32px);
    margin: 30px auto;
    font-size: 20px;
  }

  &__header {
    height: 54px;
    border-bottom: 2px #175c8e solid;
    display: flex;
    justify-content: space-between;

    &--button {
      text-align: left;
      border: 0;
      padding: 0 0 20px;
      font-size: 30px;
      font-family: NanumSquare, serif;
      font-weight: 800;
      color: #175c8e;
      letter-spacing: -1.5px;
      cursor: pointer;
      background-color: #fff;
      outline: none;
    }
  }

  &__store-info {
    width: 100%;
    text-align: left;
    min-height: 407px;
    padding: 39px 0;
    box-sizing: border-box;
    border-bottom: solid 1px #ececec;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media.media-breakpoint(mobile) {
      flex-direction: column;
      padding: 0 0 16px;
      border: 0;
      margin-bottom: 0;
      height: auto;
    }
  }
}

.store {
  min-height: 330px;
  display: flex;
  flex-direction: column;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    height: auto;
  }

  &__name {
    font-size: 26px;
    font-weight: 600;
    line-height: 0.8;
    letter-spacing: -1.5px;
    color: #252525;
    margin-bottom: 18px;

    @include media.media-breakpoint(mobile) {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: normal;
    }
  }

  &__detail {
    align-self: flex-start;
    font-size: 18px;
    line-height: 1.69;
    letter-spacing: -0.7px;
    color: #252525;

    & span {
      display: inline-block;
      color: #858585;
      margin-right: 17px;
    }

    & br:nth-child(2) {
      display: block;
      margin-bottom: 1px;
    }

    @include media.media-breakpoint(mobile) {
      & span {
        margin-right: 5px;
      }

      & br:nth-child(2) {
        margin-bottom: -4px;
      }
    }
  }

  &__tags {
    margin: 30px 0;
    display: inline-block;
    border: 1px #cacaca solid;
    font-size: 12px;
    border-radius: 5px;
    padding: 6px 13px 5px;
    color: #cacaca;
    margin-right: 10px;

    &--active {
      border: 1px #6dbbdd solid;
      color: #6dbbdd;
    }

    @include media.media-breakpoint(mobile) {
      margin: 15px 0 30px;

      & span {
        height: 14px;
      }
    }
  }
}

.etc {
  display: flex;

  &__content {
    display: inline-block;
    white-space: pre-wrap;
  }
}

.button-wrapper {
  display: flex;

  @include media.media-breakpoint(mobile) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__button {
    color: #fff;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 13px 31px;
    cursor: pointer;

    & + & {
      margin-left: 3px;
    }

    &--call {
      background-color: #175c8e;
      border: 1px solid #175c8e;
    }

    &--store-list {
      background-color: #858585;
      border: 1px solid #858585;
    }

    @include media.media-breakpoint(mobile) {
      padding: 6px 12px;

      & + & {
        margin-left: 5px;
      }
    }
  }
}

.image {
  width: 330px;
  height: 330px;
  display: flex;

  &--none {
    @include media.media-breakpoint(mobile) {
      display: none !important;
    }
  }

  @include media.media-breakpoint(mobile) {
    display: flex;
    width: calc(100% + 16px);
    height: 159px;
    cursor: initial;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 25px;
    margin-left: 16px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  &__content {
    width: 330px;
    height: 330px;
    image-orientation: from-image;

    &:nth-child(n + 2) {
      display: none;
    }

    @include media.media-breakpoint(mobile) {
      width: 159px;
      height: 159px;

      & + & {
        display: block;
        margin-left: 10px;
      }

      &:last-child {
        margin-right: 10px;
      }
    }
  }

  &__button {
    border: 0;
    outline: 0;
    background-color: #fff;
    cursor: pointer;

    &:nth-child(n + 2) {
      display: none;
    }
  }

  &__poster {
    width: 330px;
    height: 330px;
    image-orientation: from-image;

    &:nth-child(n + 2) {
      display: none;
    }

    @include media.media-breakpoint(mobile) {
      width: 159px;
      height: 159px;

      & + & {
        display: block;
        margin-left: 10px;
      }

      &:last-child {
        margin-right: 10px;
      }
    }
  }
}

.menu-title {
  &__container {
    margin: 63px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media.media-breakpoint(mobile) {
      margin-top: 31px;
    }
  }

  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1.69;
  color: #252525;
  font-weight: 700;
}

.menu-info {
  display: grid;
  flex-flow: row wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 74px;
  grid-gap: 11px 14px;
  height: 100%;
  margin-bottom: 24px;

  @include media.media-breakpoint(mobile) {
    grid-template-columns: 1fr;
    grid-auto-rows: 60px;
    margin-bottom: 0;
  }
}

.menu-card {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border: solid 1px #d7d7d7;
  padding-left: 29px;
  padding-right: 30px;
  user-select: text;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 1.5;
  color: #252525;
  word-wrap: break-word;

  & span {
    margin-left: auto;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.8px;
    color: #175c8e;
  }

  @include media.media-breakpoint(mobile) {
    padding: 0 12px;
    line-height: 1;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    & span {
      font-size: 13px;
    }
  }
}

.tap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1.5px solid #eee;

  &__type {
    font-size: 20px;
    font-weight: 500;
    border: none;
    background: none;
    padding: 10px 0;
    color: #8e8e8e;
    cursor: pointer;

    &--active {
      color: #175c8e;
      border-bottom: 1.5px solid #175c8e;
    }

    @include media.media-breakpoint(mobile) {
      font-size: 16px;
    }
  }
}
