@use "src/utils/scss/media" as media;

.modal {
  width: 360px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 24px rgba(0 0 0 / 12%);
  overflow: hidden;
}

.modalInner {
  padding: 16px 32px;
}
