@use "src/utils/scss/media" as media;

.club-event-card {
  height: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #6dbbdd;
  display: flex;
  gap: 10px;
  cursor: pointer;

  &--ended {
    background-color: rgb(0 0 0 / 60%);
  }

  &__image {
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: center;

    @include media.media-breakpoint(mobile) {
      width: 100px;
      height: 76px;
    }
  }

  &__content {
    width: 100%;
    color: #4b4b4b;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media.media-breakpoint(mobile) {
      font-size: 12px;
      gap: 0;
      line-height: 160%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    color: #000;
    font-size: 32px;
    font-weight: 700;

    @include media.media-breakpoint(mobile) {
      font-size: 16px;
    }
  }

  &__status {
    padding: 6px 10px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    border-radius: 16px;

    @include media.media-breakpoint(mobile) {
      padding: 4px 8px;
      font-size: 10px;
    }

    &--soon {
      background-color: #4590bb;
    }

    &--upcoming {
      background-color: #175c8e;
    }

    &--ongoing {
      background-color: #6dbbdd;
    }

    &--ended {
      background-color: #0b3566;
    }
  }
}
