.photo {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 24px;
  box-sizing: border-box;
  background-color: rgb(0 0 0 / 40%);
  z-index: 999;

  &__close {
    width: 100%;
    height: auto;
    border: none;
    background-color: transparent;

    svg {
      float: right;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.category {
  display: block;
  margin: 0;

  &__menu-list-row {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    &::after {
      content: "";
      width: 100%;
      height: 8px;
      background-color: #eee;
    }
  }

  &__header {
    padding: 0;
    margin: 0;
    border: none;
  }

  &__type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: baseline;
    margin: 0;
    padding: 16px 24px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.15;
    background-color: rgb(255 255 255);
    z-index: 1;

    &--title {
      display: flex;
    }
  }

  &__calorie {
    padding-left: 8px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.9;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgb(126 126 126);
  }

  &__price {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgb(126 126 126);
    margin-top: 4px;
  }

  &__block {
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;

    &--sold-out {
      color: #ffa00d;
      background-color: #fff7e1;
      opacity: 1;
    }

    &--changed {
      background-color: #eee;
      color: #4b4b4b;
      opacity: 1;
    }
  }

  &__menu-list {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    box-sizing: border-box;
    gap: 12px;
    padding: 0 24px 16px;
  }

  &__menu {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    word-break: break-all;
    line-height: 1.67;
    letter-spacing: -0.48px;
    color: rgb(73 73 73);
  }

  &__menu-photo {
    position: relative;
    width: 202px;
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border: 1px solid #8e8e8e;
    border-radius: 8px;
    padding: 0;
    flex-shrink: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--none {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      font-size: 12px;
      color: #8e8e8e;
    }

    &--sold-out {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      background-color: #00000080;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
    }
  }
}
