@use "src/utils/scss/media" as media;

.found-place {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__text {
    display: flex;
    flex-direction: column;

    @include media.media-breakpoint(mobile) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 9px;

    @include media.media-breakpoint(mobile) {
      width: 100%;
    }
  }

  &__input {
    width: 332px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 7px 16px;
    border-radius: 8px;
    background-color: #f5f5f5;
    border: none;
    font-size: 14px;
    line-height: 1.6;

    @include media.media-breakpoint(mobile) {
      width: 100%;
      font-size: 12px;
    }
  }

  &__required {
    color: #f00;

    @include media.media-breakpoint(mobile) {
      font-size: 14px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;

    @include media.media-breakpoint(mobile) {
      font-size: 14px;
      line-height: 1.6;
    }
  }

  &__warning {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #f7941e;
    font-size: 14px;
    line-height: 1.6;

    @include media.media-breakpoint(mobile) {
      font-size: 12px;
    }
  }
}
