@import "src/utils/scss/media";
/* stylelint-disable scss/at-import-no-partial-leading-underscore */
@import "node_modules/reset-css/sass/_reset";
/* stylelint-enable scss/at-import-no-partial-leading-underscore */
#root {
  min-width: 1148px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include media-breakpoint(mobile) {
    min-width: 360px;
  }
}
