.menu {
  position: relative;
  display: flex;

  &__button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    z-index: 98;
    background: transparent;
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    width: max-content;
    min-width: 105px;
    padding: 0 4px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #fafafa;
    box-shadow:
      0 2px 4px rgb(0 0 0 / 4%),
      0 1px 1px rgb(0 0 0 / 2%);
  }

  &__item {
    padding: 8px 12px;
    color: #000;
    font-size: 12px;
    line-height: 160%;
    text-align: left;
    white-space: nowrap;

    & + & {
      border-top: 1px solid #eee;
    }

    &--danger {
      color: #ec2d30;
    }
  }
}
