.select {
  position: relative;
  display: inline-block;
  width: 260px;
  background-color: #fff;
  border-radius: 5px;

  svg:not(.select__curriculum-title svg) {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
  }

  &--opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 8px 32px 0 #00000014;
    box-shadow: 0 2px 20px 0 #0000000a;

    svg:not(.select__curriculum-title svg) {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }

  &__trigger {
    position: relative;
    width: 100%;
    height: 48px;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #e1e1e1;
    }
  }

  &__curriculum-title {
    display: flex;
    gap: 8px;
    color: #4b4b4b;
    font-size: 18px;
    font-family: Pretendard, sans-serif;
    font-weight: 500;
    line-height: 21.48px;
  }

  &__curriculum-list {
    position: absolute;
    z-index: 5;
    box-shadow: 0 8px 32px 0 #00000014;
    box-shadow: 0 2px 20px 0 #0000000a;
    background-color: #fafafa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__curriculum {
    width: 260px;
    height: 48px;
    box-sizing: border-box;
    background-color: #fafafa;
    cursor: pointer;
    font-family: Pretendard, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    color: #8e8e8e;
    display: block;
    padding: 14px 24px;

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &[aria-selected='true'] {
      color: #175c8e;
    }

    &:hover {
      background-color: #eee;
      border-radius: 5px;
    }

    &:active {
      background-color: #e1e1e1;
    }
  }
}
