@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(8px);
  }
}

.toast {
  position: fixed;
  bottom: 24px;
  left: 16px;
  width: calc(100% - 32px);
  box-sizing: border-box;
  padding: 20px 16px;
  border-radius: 8px;
  background: rgb(96 4 129 / 80%);
  backdrop-filter: blur(2px);
  color: #fff;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: start;
  z-index: 9999;
  animation: fade-in 300ms ease forwards;

  &--hidden {
    animation: fade-out 300ms ease forwards;
  }
}
