@use "src/utils/scss/media";

.section {
  width: 1131px;
  margin: 63px auto 0;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    margin-top: 16px;
  }
}

.header {
  width: 100%;
  height: 32px;
  font-size: 30px;
  font-family: NanumSquare, serif;
  font-weight: 800;
  letter-spacing: -1.5px;
  color: #175c8e;
  text-align: left;
  margin-bottom: 19px;

  @include media.media-breakpoint(mobile) {
    display: none;
  }
}

.category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 142px;
  border-top: 2px #175c8e solid;
  border-bottom: 1px #175c8e solid;
  margin-bottom: 25px;

  @include media.media-breakpoint(mobile) {
    justify-content: center;
    width: 100%;
    padding: 10px 0 14px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border: none;
    margin-bottom: 13px;
  }

  &__header {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    font-size: 15px;
    font-family: NanumSquare, serif;
    font-weight: 800;
    letter-spacing: -0.8px;
    width: 182px;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 182px);

    @include media.media-breakpoint(mobile) {
      width: 100%;
    }
  }

  &__menu {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: NanumBarunGothic, serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border: 0;
    line-height: 1.2;
    height: 100%;
    width: 6%;
    padding: 0;
    color: rgb(37 37 37);
    margin-right: 22px;
    cursor: pointer;
    white-space: nowrap;

    & span {
      text-align: center;
      width: 100%;

      @include media.media-breakpoint(mobile) {
        font-size: 10px;
        font-weight: 400;
      }
    }

    &--selected {
      color: #f7941e;
      font-weight: 700;
    }

    &--disabled {
      display: none;
    }

    @media (min-width: 577px) {
      &:hover {
        color: #f7941e;
      }
    }

    @include media.media-breakpoint(mobile) {
      letter-spacing: -0.8px;
      width: 55px;
      padding-top: 11px;
      margin-right: 2px;
    }
  }

  &__image {
    width: 57px;
    height: 57px;
    border-width: 50%;
    margin: 0 auto 13px;

    @include media.media-breakpoint(mobile) {
      width: 40px;
      height: 40px;
    }
  }
}

.option {
  display: flex;
  height: 24px;
  margin-top: 20px;
  font-family: NanumBarunGothic, serif;

  @include media.media-breakpoint(mobile) {
    flex-wrap: wrap;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 32px);
    height: auto;
    display: none;
  }

  &__count {
    flex: none;
    float: left;
    font-size: 12px;
    color: #858585;
    letter-spacing: -0.6px;

    @include media.media-breakpoint(mobile) {
      width: 100%;
      margin-bottom: 33px;
      text-align: left;
    }
  }

  &__checkbox {
    margin-left: auto;
    display: flex;
    width: auto;

    :nth-child(3) {
      margin-right: 0;
    }

    @include media.media-breakpoint(mobile) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      height: 24px;
    }
  }
}

.option-checkbox {
  width: fit-content;
  color: #175c8e;
  letter-spacing: -0.6px;
  margin-right: 25px;

  :not(:last-of-type) {
    margin-right: 0;
  }

  @include media.media-breakpoint(mobile) {
    margin-bottom: 15px;
  }

  &__label {
    font-size: 12px;
    top: -3px;
    cursor: pointer;
    position: relative;
    user-select: none;
  }

  &__input {
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 0 8px 0 0;
    position: relative;
    top: 3px;
    background-color: #fff;
    border: 1px solid #d2dae2;
    border-radius: 0;
    appearance: none;
    box-sizing: content-box;

    &:checked {
      content: "";
      border: 1px solid #175c8e;
      background-image: url("https://static.koreatech.in/assets/img/check.png");
      background-size: cover;
    }
  }
}

.store-mobile-header {
  background-color: #f5f5f5;
  color: #8e8e8e;
  line-height: 1.46;
  height: 31px;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-left: 16px;
}

.store-none-open {
  background-color: rgba(4 26 68 / 40%);
  backdrop-filter: blur(3px);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  color: #fff;

  &__name {
    color: #fccc77;
    margin-left: 15px;
  }

  &::after {
    // font-family: NotoSansCJKKR;추가 요망
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    color: #fff;

    @include media.media-breakpoint(mobile) {
      font-size: 15px;
      border-radius: 5px;
    }
  }
}

.filter {
  display: none;
  position: relative;

  @include media.media-breakpoint(mobile) {
    display: flex;
    width: calc(100vw - 40px);
    height: 25px;
    padding: 12px 20px;
    justify-content: space-between;
    font-family: Pretendard, sans-serif;
  }

  &__box {
    @include media.media-breakpoint(mobile) {
      position: relative;
      display: flex;
      width: 20%;
      height: 25px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #e1e1e1;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      border: 1px solid #e1e1e1;
    }

    &--activate {
      border: 1px solid #6dbbdd;
      color: #6dbbdd;
    }
  }
}
