@use "src/utils/scss/order-palette" as palette;

.search-bar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  margin: 8px 8px 0;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: palette.$shadow-1;

  &__icon {
    display: block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  &__input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #000;
    font-family: inherit;
    font-size: 14px;
    line-height: 160%;

    &::placeholder {
      color: palette.$neutral-500;
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }
}
