.page {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 0 24px 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__semester {
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    white-space: nowrap;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.6;
    white-space: nowrap;
    cursor: pointer;
  }

  &__timetable {
    display: flex;
    cursor: pointer;
  }
}
