.container {
  width: 100%;
  height: auto;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.type-selector {
  height: 54px;
  margin: 60px 0 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Pretendard, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.19px;
}

.dropdown-wrapper {
  margin-left: 8px;
  position: relative;
}

.dropdown {
  width: 160px;
  height: 54px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.19px;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }

  &__box {
    width: 160px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 32px 0 rgba(0 0 0 / 8%);
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 1;
  }

  &__type {
    width: 100%;
    min-height: 40px;
    padding-left: 16px;
    color: #4b4b4b;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.87px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #fafafa;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    &:nth-child(2) {
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
    }
  }
}

.pc-menu-blocks {
  position: relative;

  &__caution {
    position: absolute;
    bottom: -64px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Pretendard, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: center;
    color: #cacaca;
  }
}

.recommend-banner {
  padding: 8px 32px;
  background-color: #fff;
  color: #4b4b4b;
  border: 1px solid #f7941e;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 16px;
  box-shadow:
    0 2px 4px rgb(0 0 0 / 4%),
    0 1px 1px rgb(0 0 0 / 2%);

  &__left {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
  }

  &__text-left {
    font-size: 18px;
    font-weight: 400;
  }

  &__text-right {
    font-size: 22px;
    color: #d47415;
    font-weight: 500;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
