@use "src/utils/scss/media" as media;

.container {
  @include media.media-breakpoint(mobile) {
    width: 100%;
    border-bottom: 6px solid #f5f5f5;
  }
}

.header {
  border-top: 2px solid #175c8e;
  border-bottom: 1px solid #175c8e;
  width: 834px;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  user-select: text;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    border-top: 0;
    padding: 12px 24px;
    border-bottom: 0;
  }

  &__title {
    font-family: Pretendard, sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: #175c8e;
    margin: 0;
  }
}

.title {
  font-family: Pretendard, sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  color: #252525;
  padding: 26px 20px 7px;
  width: 794px;
  overflow-wrap: break-word;

  @include media.media-breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding: 0;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0;
    word-break: keep-all;
    overflow-wrap: anywhere;
  }

  &__board-id {
    font-weight: 600;

    @include media.media-breakpoint(mobile) {
      color: #8f05a6;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.6;
    }
  }

  &__content {
    @include media.media-breakpoint(mobile) {
      display: block;
    }
  }

  &__comment-count {
    font-size: 15px;
    letter-spacing: -0.8px;
    color: #175c8e;
    padding-left: 3px;
  }

  &__new-tag {
    width: 13.5px;
    height: 14px;
    position: relative;
    margin-left: 11px;
    top: 0;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }
}

.content {
  display: flex;
  padding: 0 20px 27px;

  @include media.media-breakpoint(mobile) {
    gap: 4px;
    margin-top: 4px;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
  }

  &__author {
    font-family: Pretendard, sans-serif;
    font-size: 13px;
    letter-spacing: -0.7px;
    color: #175c8e;
    margin-right: 16px;

    @include media.media-breakpoint(mobile) {
      display: inline;
      color: #a1a1a1;
    }
  }

  &__registered-at {
    font-family: Pretendard, sans-serif;
    font-size: 13px;
    letter-spacing: -0.7px;
    color: #858585;

    @include media.media-breakpoint(mobile) {
      display: inline;
      float: right;
    }
  }

  &__hit {
    display: inline-flex;
    align-items: center;
    gap: 2px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
