@use "src/utils/scss/media" as media;

.layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: Pretendard, sans-serif;

  @include media.media-breakpoint(mobile) {
    padding: 16px 24px;
  }
}

.container {
  width: 1136px;
  padding-top: 56px;
  padding-bottom: 60px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
    padding: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #175c8e 2px solid;
  padding-bottom: 24px;

  &__title {
    color: #175c8e;
    font-size: 20px;
    font-weight: 500;
  }

  &__button-container {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 9px 20px;
    background-color: #175c8e;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    line-height: 160%;
  }
}

.content {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;

  @include media.media-breakpoint(mobile) {
    flex-direction: column;
    gap: 16px;
    padding: 0;
  }
}

.form-left {
  display: flex;
  flex-direction: column;
  gap: 23px;

  @include media.media-breakpoint(mobile) {
    width: 100%;
  }
}

.form {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 550px;

    @include media.media-breakpoint(mobile) {
      width: 100%;
    }
  }

  &__item-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__separator {
    font-size: 20px;
    font-weight: 700;
  }

  &__label {
    font-weight: 500;
    font-size: 22px;

    @include media.media-breakpoint(mobile) {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__checkbox {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @include media.media-breakpoint(mobile) {
      justify-content: space-between;
      width: 100%;
    }
  }
}

.date-picker-button {
  width: 250px;
  padding: 4px;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0 0 0 / 40%), 0 1px 1px rgba(0 0 0 / 10%);
  font-family: pretendard, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;

  @include media.media-breakpoint(mobile) {
    max-width: 120px;
    font-size: 16px;
  }
}

.button-group__bottom {
  margin-top: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  &__button {
    min-width: 100px;
    padding: 6px 12px;
    background-color: #175c8e;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: Pretendard, sans-serif;
    line-height: 160%;
    border-radius: 4px;
    cursor: pointer;
  }
}
