@use 'utils/scss/media.scss' as media;

.container {
  @include media.media-breakpoint(mobile) {
    width: 100%;
  }
}

.box {
  width: 708px;
  height: 269px;
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 32px;
  padding: 33px 0 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow:
    0 2px 4px rgba(0 0 0 / 4%),
    0 1px 1px rgba(0 0 0 / 2%);

  @include media.media-breakpoint(mobile) {
    width: 100%;
    box-shadow: none;
  }

  &--searching {
    width: 640px;
    height: 140px;
    padding: 24px 42.5px;

    @include media.media-breakpoint(mobile) {
      width: 100%;
      padding: 24px 0;
    }
  }
}

.direction {
  width: 555px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;

  @include media.media-breakpoint(mobile) {
    width: calc(100vw - 32px);
    gap: 0;
    justify-content: space-between;
  }
}

.lookup-button {
  width: 272px;
  height: 53px;
  border-radius: 4px;
  background-color: #175c8e;
  color: #fff;
  font-family: Pretendard, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
