@mixin inherit-text-style {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  @include inherit-text-style;

  svg:not(.select__delete svg) {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
  }

  &--opened {
    svg:not(.select__delete svg) {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }

  &__trigger {
    position: relative;
    width: 100%;
    padding: 16px 24px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include inherit-text-style;
    background-color: #fff;
    color: inherit;
    cursor: pointer;

    &--opened {
      border-radius: 5px 5px 0 0;
    }

    &--white-background {
      background-color: #fafafa;
    }

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #e1e1e1;
    }
  }

  &__contents-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: max-content;
    min-width: 100%;
    max-width: 100%;
    box-shadow: 0 8px 32px 0 #00000014;
    background-color: #fafafa;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &--up {
      top: 0;
      transform: translateY(-100%);
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 24px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fafafa;
    color: #8e8e8e;
    @include inherit-text-style;
    cursor: pointer;

    &[aria-selected="true"] {
      color: #175c8e;
    }

    &:hover {
      background-color: #eee;
      border-radius: 5px;
    }

    &:active {
      background-color: #e1e1e1;
    }
  }

  // &__button {
  //   display: flex;
  //   border: none;
  //   background-color: inherit;
  //   cursor: pointer;
  //   align-items: center;
  //   padding: 6px 8px;
  //   border-radius: 5px;
  //   gap: 4px;
  //   font-family: Pretendard, sans-serif;
  //   font-size: 14px;
  //   font-weight: 500;
  //   line-height: 16.71px;
  //   text-align: left;
  //   color: #8e8e8e;

  //   &:hover {
  //     background-color: #e1e1e1;
  //   }

  //   &:active {
  //     background-color: #cacaca;
  //     color: #4b4b4b;
  //   }
  // }
}
