.container {
  height: 118px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .date {
    width: 78px;
    height: 18px;
  }

  .week {
    width: 100%;
    height: 54px;
  }
}

.date {
  min-width: 112px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__button {
    min-width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &:nth-child(2) {
      padding: 0 8px;
    }

    &:hover {
      background-color: #d9d9d9;
    }
  }
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__day {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;


  }
}
